<div class="card">
    <div class="grid">
        <div class="col-12 sm:col-9 md:col-9">
          <h3 class="mr-3">Occupation Details</h3>
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
        </div>
        <!-- <div class="col-12 sm:col-6 md:col-8">
          <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
            <p-button icon="pi pi-plus" label="Add New" severity="warning" size="small" (click)="onAddSection()" ></p-button>
          </div>
        </div>   [(ngModel)]="exchangeDetails.CurrencyId" [items]="currencyList" -->
        <div class="col-12 lg:col-3 xl:col-3 md:col-3 " >
            <label for="username">Select Master*</label>
            <p-dropdown inputId="title" 
                class="w-full" 
                styleClass="w-full" 
                (onChange)="getMenu(activeMenu)"
                [options]="MenuMasterList" 
                [(ngModel)]="activeMenu" 
                optionLabel="title" 
                optionValue="title" >
            </p-dropdown>
        </div>
    </div>

    <div class="grid mt-2">
        <div class="col-12 md:col-4 lg:col-4">
            <label for="username">Occupation Name*</label><br>
            <input pInputText type="text" [(ngModel)]="occupationName"  class="w-full" 
            styleClass="w-full"   maxlength="100"
            placeholder="Enter Occupation Name"/>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <label for="CodeDescLocal">Local Name*</label><br>
            <input pInputText type="text" 
            [(ngModel)]="CodeDescLocal"  maxlength="100"
            class="w-full" styleClass="w-full"
            placeholder="Enter Local Name Name"/>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <label for="username">Core App Code*</label><br>
            <input pInputText type="text" [(ngModel)]="coreAppCode"  class="w-full" 
            styleClass="w-full"   maxlength="100"
            placeholder="Enter coreAppCode Name"/>
        </div>
       
        <div class="col-12 md:col-4 lg:col-4">
            <label for="Bankname">Regulatory Code*</label><br>
            <input pInputText 
            [(ngModel)]="regCode"  maxlength="20"
            class="w-full" styleClass="w-full"
            placeholder="Enter Regulatory Code"/>
        </div>
        <div class="col-12 lg:col-4 xl:col-4 md:col-4">
            <label for="username">Branch*</label>
            <p-dropdown inputId="branchList" 
                class="w-full" 
                styleClass="w-full" 
                [options]="branchList" 
                [(ngModel)]="branchValue" 
                optionLabel="CodeDesc" 
                optionValue="Code" 
               [disabled]="true"
                placeholder="">
            </p-dropdown>
        </div> 
        <div class="col-12 md:col-4 lg:col-4">
            <label for="Bankname">Remarks*</label><br>
            <textarea pInputTextarea  type="text" 
            [(ngModel)]="remarks"  maxlength="200"
            class="w-full" styleClass="w-full"
            placeholder="Enter Remarks"></textarea>
        </div>
        <div class="col-12 lg:col-4 xl:col-4 md:col-4">
            <label for="username">Product*</label>
            <p-dropdown inputId="productList" 
                class="w-full" 
                styleClass="w-full" 
                [options]="productList" 
                [(ngModel)]="productId" 
                optionLabel="CodeDesc" 
                optionValue="Code" 
               [disabled]="true"
                placeholder="">
            </p-dropdown>
        </div> 
        <div class="col-12 lg:col-4 xl:col-4 md:col-4">
            <label for="username">Cateogry*</label>
            <p-dropdown inputId="categoryList" 
                class="w-full" 
                styleClass="w-full" 
                [options]="categoryList" 
                [(ngModel)]="categoryvalue" 
                optionLabel="CodeDesc" 
                optionValue="Code" 
                placeholder="">
            </p-dropdown>
        </div> 
        <div class="ol-12 md:col-4 lg:col-4">
            <label for="username">Effective Date</label>
            <p-calendar class="w-full" styleClass="w-full" 
            [(ngModel)]="effectiveDate"
            dateFormat="dd/mm/yy"
                placeholder="Select End Date">
            </p-calendar>
        </div>
     
        <div class="flex flex-wrap md:col-4 lg:col-4 ">
            <label for="username">Status</label>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="No" value="Y" [(ngModel)]="statusValue" inputId="ingredient2"></p-radioButton>
                <span for="ingredient2" class="ml-1">Active</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Yes" value="N" [(ngModel)]="statusValue" inputId="ingredient3"></p-radioButton>
                <span for="ingredient1" class="ml-1">DeActive</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="No" value="R" [(ngModel)]="statusValue" inputId="ingredient4"></p-radioButton>
                <span for="ingredient2" class="ml-1">Referral</span>
            </div>
        </div>
       
    </div>
    <div class="flex justify-content-center mt-3" >
        <p-button  styleClass="p-button-outlined" label="Back"
            size="small"  (click)="ongetBack()"></p-button>&nbsp;
        <p-button label="Submit" size="small" (click)="onProceed()" ></p-button>
    </div>
</div>












<!-- <div class="card">
    <div class="card-header">Occupation Details</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Occupation Name<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="occupationName" class="input-form-control without-icon" maxlength="100">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Core App Code<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="coreAppCode" class="input-form-control without-icon" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Regulatory Code<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="regCode" class="input-form-control without-icon" maxlength="20">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="input-control-container">
                    <label class="input-form-label">Branch<span class="text-required">*</span></label>
                    <ng-select class="input-form-select" disabled appendTo="body" [items]="branchList" disabled [(ngModel)]="branchValue" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-8">
                <div class="input-control-container">
                    <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <textarea cols="160" ros="3" [(ngModel)]="remarks" class="input-form-select"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
              <div class="input-control-container">
                  <label class="input-form-label">Product<span class="text-required">*</span></label>
                  <ng-select class="input-form-select" appendTo="body" [items]="productList" disabled [(ngModel)]="productId" bindValue="Code" bindLabel="CodeDesc">
                  </ng-select>
              </div>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="input-control-container">
                <label class="input-form-label">Cateogry<span class="text-required">*</span></label>
                <ng-select class="input-form-select" appendTo="body" [items]="categoryList" [(ngModel)]="categoryvalue" bindValue="Code" bindLabel="CodeDesc">
                </ng-select>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Effective Date<span class="text-required">*</span></label>
                    <mat-form-field appearance="fill">
                        <input matInput required [matDatepicker]="picker" [min]="minDate" [(ngModel)]="effectiveDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Status</label>
                    <div class="input-form-radio-box">
                        <div class="radio-toolbar">
                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="statusValue" value="Y">
                            <label for="orginwarehouse_Yes" class="customLabel">Active</label>
                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="statusValue" value="N">
                            <label for="orginwarehouse_No" class="customLabel">DeActive</label>
                            <input id="orginwarehouse_Pending" type="radio" name="originatingWarehouse" [(ngModel)]="statusValue" value="R">
                            <label for="orginwarehouse_Pending" class="customLabel">Referral</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="ongetBack()">Back</button>&nbsp;
            <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
        </div>
    </div>
</div> -->
