.vision-grid-column-2 {
    grid-template-columns: 20% 80%;
}

.menu-bar label {
    display: block;
    color: #897d7d;
}

.menu-bar label:hover {
    display: block;
    background-color: dodgerblue;
    color: #fff;
}

.menu-bar input[type="radio"]:checked+label {
    background-color: #530d58;
    background-color: transparent;
    color: #897d7d;
    border-left: 3px solid dodgerblue;
}

.menu-bar label:first-child {
    border: 0;
    // border-top: 0;
}

.customLabel {
    margin-left: 0px;
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
}