<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3">
                Company Configuration
            </div>
            <div class="col-md-4 col-xl-4 col-lg-4 offset-5 pl-4" *ngIf="insuranceName">
                Company Name - <b>{{insuranceName}}</b>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="input-control-container">
                    <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <ng-select class="input-form-select" appendTo="body" [items]="companyList" [(ngModel)]="companyValue" bindValue="Code" bindLabel="CodeDescription">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu" type="radio" name="menu" value="Country" (click)="onRedirect('Country')" [(ngModel)]="activeMenu">
                    <label for="menu">Country Details</label>
                    <input type="radio" id="menu4" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                    <label for="menu4">Region</label>
                    <input type="radio" id="menu1" name="menu" value="State" (click)="onRedirect('State')" [(ngModel)]="activeMenu">
                    <label for="menu1">State</label>
                    <input type="radio" id="menu2" name="menu" value="City" (click)="onRedirect('City')" [(ngModel)]="activeMenu">
                    <label for="menu2">City</label>

                    <!-- <input type="radio" id="menu3" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                    <label for="menu3">Currency</label> -->
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="card">
                    <div class="card-header">Existing Region</div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-3 col-xl-3 col-lg-3">

                            </div>
                            <div class="col-md-3 col-xl-3 col-lg-3 offset-6 pl-4">
                                <button class="btn btn-warning" (click)="onAddSection()" *ngIf="CountryValue">Add New</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                            <div class="input-control-container">
                                <label class="input-form-label">Country<span class="text-required">*</span></label>
                                <ng-select class="input-form-select" appendTo="body" [items]="CountryList" [(ngModel)]="CountryValue" bindValue="Code" bindLabel="CodeDesc" (change)="getExistingRegion()">
                                    <!--(change)="getExistingRegion()"-->
                                </ng-select>
                            </div>
                        </div>
                        <ng-container *ngIf="tableData">
                            <app-grid-table [cols]="columnHeader" changeStatus="true" (OnStatus)="EditStatus($event)" [data]="tableData" [filterValue]="filterValue" (onEdit)="onEditSection($event)">
                            </app-grid-table>
                        </ng-container>
                        <!-- <div class="text-center">
                            <button class="btn btn-danger" (click)="ongetBack()">Back</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-secondary" (click)="onRedirect('Product')">Product Details</button>
                    <button type="button" class="btn btn-warning">Section</button>
                    <button type="button" class="btn btn-secondary" (click)="onRedirect('Cover')">Cover</button>
                    <button type="button" class="btn btn-secondary" (click)="onRedirect('SubCover')">SubCover</button>
                    <button type="button" class="btn btn-secondary" (click)="onRedirect('Attachment')">Attachment</button>
                </div>
            </div>
            <div class="col-md-10 col-lg-10 col-xl-10">

            </div>
        </div> -->
</div>
