<div class="card">
    <h3 class="mr-3">UnderWriter Controller</h3>
    <p-tabView [(activeIndex)]="tabIndex" (onChange)='onClickTab($event.index)'>
        <p-tabPanel header="Pending">
            <p-table  #dtEmployee
                        [globalFilterFields]="['QuoteNo','CustomerName','PaymentType','PolicyStartDate','PolicyEndDate','Premium','Action']"
                        [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" [value]="pendingList">
                        <ng-template pTemplate="caption">
                            <div class="flex flex wrap justify-content-end">
                                <div class="table-header">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
                        {{column}}
                        <p-sortIcon [field]="column"></p-sortIcon> 
                      </th>
                </tr>
                </ng-template>
                <ng-template  pTemplate="body" let-customer>
                    <tr>
                        <td>{{ customer.QuoteNo }}</td>
                        <td>{{ customer.CustomerName }}</td>
                        <td>{{ customer.PaymentType }}</td>
                        <td>{{ customer.InceptionDate }}</td>
                        <td>{{ customer.ExpiryDate }}</td>
                        <td>{{ customer.MobileNo }}</td>
                        <td>{{ customer.Premium }}</td>
                        <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" (click)="onEditUWPending(customer,'UWP')"></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Approved">    
            <p-table  #dtEmployee
                        [globalFilterFields]="['BankFullName','BankShortName',
                                            'EffectiveDateStart','Status']"
                        [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" [value]="approvedList">
                        <ng-template pTemplate="caption">
                            <div class="flex flex wrap justify-content-end">
                                <div class="table-header">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
                        {{column}}
                        <p-sortIcon [field]="column"></p-sortIcon> 
                      </th>
                </tr>
                </ng-template>
                <ng-template  pTemplate="body" let-customer>
                    <tr>
                        <td>{{ customer.QuoteNo }}</td>
                        <td>{{ customer.CustomerName }}</td>
                        <td>{{ customer.PaymentType }}</td>
                        <td>{{ customer.InceptionDate }}</td>
                        <td>{{ customer.ExpiryDate }}</td>
                        <td>{{ customer.MobileNo }}</td>
                        <td>{{ customer.Premium }}</td>
                        <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" (click)="onEditUWPending(customer,'UWA')"></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Rejected">
            <p-table  #dtEmployee
            [globalFilterFields]="['BankFullName','BankShortName',
                                'EffectiveDateStart','Status']"
            [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" [value]="rejectedList">
            <ng-template pTemplate="caption">
                <div class="flex flex wrap justify-content-end">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                        </span>
                    </div>
                </div>
            </ng-template>
    <ng-template pTemplate="header">
    <tr>
        <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
            {{column}}
            <p-sortIcon [field]="column"></p-sortIcon> 
          </th>
    </tr>
    </ng-template>
        <ng-template pTemplate="body" >
        <tr>
        <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" (click)="onEditUWPending(customer,'CCR')"></button></td>
        </tr>
        </ng-template>
</p-table>
        </p-tabPanel>
    </p-tabView>
</div>