<div class="card">
    <div class="card-body">
        <div class="card p-1">
            <div class="vision-grid vision-grid-column-2">
                <div class="vision-grid-item">
                    <div class="radio-toolbar menu-bar">
                        <input id="menu" type="radio" name="menu" value="Country" (click)="onRedirect('Country')" [(ngModel)]="activeMenu">
                        <label for="menu">Country Details</label>
                        <!--<input type="radio" id="menu4" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                        <label for="menu4">Region</label>-->
                        <input type="radio" id="menu1" name="menu" value="State" (click)="onRedirect('State')" [(ngModel)]="activeMenu">
                        <label for="menu1">State</label>
                        <input type="radio" id="menu2" name="menu" value="City" (click)="onRedirect('City')" [(ngModel)]="activeMenu">
                        <label for="menu2">City</label>
                        <input type="radio" id="menu3" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                        <label for="menu3">Region</label>

                        <!-- <input type="radio" id="menu3" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                        <label for="menu3">Currency</label> -->
                    </div>
                </div>
                <div class="vision-grid-item">
                    <div class="card">
                        <div class="card-header">Region Details</div>
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Region Name<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" class="input-form-control without-icon" [(ngModel)]="regionDetails.RegionName" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Region Short Code<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" class="input-form-control without-icon" [(ngModel)]="regionDetails.RegionShortCode" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Regulatory Code<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" class="input-form-control without-icon" [(ngModel)]="regionDetails.RegulatoryCode" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Core App Code<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" class="input-form-control without-icon" [(ngModel)]="regionDetails.CoreAppCode" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Country<span class="text-required">*</span></label>
                                        <ng-select class="input-form-select" disabled appendTo="body" [items]="countryList" [(ngModel)]="regionDetails.CountryId" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                    
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Effective Date<span class="text-required">*</span></label>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Effective Date</mat-label>
                                            <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="regionDetails.EffectiveDateStart">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Status<span class="text-required">*</span></label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="regionDetails.Status" value="Y">
                                                <label for="orginwarehouse_Yes">Active</label>
                                                <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="regionDetails.Status" value="N">
                                                <label for="orginwarehouse_No">DeActive</label>
                                                <input type="radio" id="orginwarehouse_Referral" name="originatingWarehouse" [(ngModel)]="regionDetails.Status" value="R">
                                                <label for="orginwarehouse_Referral">Referral</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <textarea cols="120" rows="2" class="input-form-control without-icon" [(ngModel)]="regionDetails.Remarks" maxlength="200"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-danger" (click)="ongetBack()">Cancel</button>
                                <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


