<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3">
                Company Configuration
            </div>
            <div class="col-md-4 col-xl-4 col-lg-4 offset-5 pl-4" *ngIf="insuranceName">
                Company Name - <b>{{insuranceName}}</b>
            </div>
        </div>
    </div>
    <div>
        <!-- <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="input-control-container">
                    <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <ng-select class="input-form-select" appendTo="body" [items]="companyList" [(ngModel)]="companyValue" bindValue="Code" bindLabel="CodeDescription">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card p-1">
            <div class="vision-grid vision-grid-column-2">
                <div class="vision-grid-item">
                    <div class="radio-toolbar menu-bar">
                        <input id="menu" type="radio" name="menu" value="Country" (click)="onRedirect('Country')" [(ngModel)]="activeMenu">
                        <label for="menu">Country Details</label>
                        <!--<input type="radio" id="menu4" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                        <label for="menu4">Region</label>-->
                        <input type="radio" id="menu1" name="menu" value="State" (click)="onRedirect('State')" [(ngModel)]="activeMenu">
                        <label for="menu1">State</label>
                        <input type="radio" id="menu2" name="menu" value="City" (click)="onRedirect('City')" [(ngModel)]="activeMenu">
                        <label for="menu2">City</label>
                        <input type="radio" id="menu3" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                        <label for="menu3">Region</label>

                        <!-- <input type="radio" id="menu3" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                        <label for="menu3">Currency</label> -->
                    </div>
                </div>
                <!--<div class="vision-grid-item">
                    <nb-card>
                        <nb-card-header>Existing City</nb-card-header>
                        <div class="row">
                            <div class="col-md-4 ml-3">
                                <div class="input-control-container">
                                    <label class="input-form-label">Region</label>
                                    <ng-select class="input-form-select" appendTo="body" [items]="regionList" [(ngModel)]="regionValue" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 ml-3">
                                <div class="input-control-container">
                                    <label class="input-form-label">State</label>
                                    <ng-select class="input-form-select" appendTo="body" [items]="stateList" [(ngModel)]="stateValue" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="stateValue && regionValue">
                            <div class="col-md-3 col-xl-3 col-lg-3">

                            </div>
                            <div class="col-md-3 col-xl-3 col-lg-3 offset-6 pl-4">
                                <button class="btn btn-warning" (click)="onAddNew()">Add New City</button>
                            </div>
                        </div>
                        <ng-container *ngIf="cityData && stateValue && regionValue">
                            <app-grid-table [cols]="cityHeader" [data]="cityData" [filterValue]="filterValue" (onEdit)="onAddNew()" (onConfigure)="onConfigure($event)">
                            </app-grid-table>
                        </ng-container>
                    </nb-card>
                </div>-->
                <div class="vision-grid-item">
                    <div class="card">
                        <div class="card-header">Existing City</div>
                        <div>

                            <div class="row mt-2">
                                <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Country<span class="text-required">*</span></label>
                                        <ng-select class="input-form-select" appendTo="body" [items]="CountryList" (change)="getStateList('change')" [(ngModel)]="CountryValue" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <!--</div>-->
                                <!--<div class="row mt-2">-->
                                <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">State<span class="text-required">*</span></label>
                                        <ng-select class="input-form-select" appendTo="body" [items]="StateList" [(ngModel)]="StateValue" bindValue="Code" bindLabel="CodeDesc" (change)="getExistingCity()">
                                        </ng-select>
                                    </div>
                                </div>
                                <!--<div class="row mb-2">-->
                                <!--<div class="col-md-3 col-xl-3 col-lg-3">

                                  </div>-->
                                <div class="col-md-3 col-xl-3 col-lg-3 pt-4" *ngIf="CountryValue && StateValue">
                                    <button class="btn btn-warning" (click)="onAddNew()">Add New City</button>
                                </div>
                                <!--</div>-->
                            </div>
                            <!--<div class="row mb-2" *ngIf="MakeValue">
                              <div class="col-md-3 col-xl-3 col-lg-3">

                              </div>-->
                            <!--<div class="col-md-3 col-xl-3 col-lg-3 offset-6 pl-4">
                                  <button class="btn btn-warning" (click)="onAddModel()">Add New</button>
                              </div>-->
                            <!--</div>-->

                            <ng-container *ngIf="cityData">
                                <app-grid-table [cols]="cityHeader" changeStatus="true" (OnStatus)="EditStatus($event)" [data]="cityData" [filterValue]="filterValue" (onEdit)="onEditCity($event)">
                                </app-grid-table>
                            </ng-container>
                            <!--<div class="text-center">
                              <button class="btn btn-danger" (click)="ongetBack()">Back</button>
                          </div>-->


                            <!-- <ng-container *ngIf="branchData && branchValue">
                              <app-grid-table [cols]="columnHeader" [data]="branchData" [filterValue]="filterValue" (onEdit)="onEditOccupation($event)" (onConfigure)="onConfigure($event)">
                              </app-grid-table>
                          </ng-container>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="backtoMainGrid()">Back</button>
        </div>
    </div>
</div>
