<div class="card">
    <div class="card-header">PromoCode Cover Details</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">User Type</label>
                    <ng-select class="input-form-select" appendTo="body" [items]="promoList" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Policy Type</label>
                    <ng-select class="input-form-select" appendTo="body" [items]="promoList" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="input-control-container">
                    <label class="input-form-label">Cover Type</label>
                    <ng-select class="input-form-select" appendTo="body" [items]="promoList" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success">Search</button>
        </div>
        <!-- <div class="row">
            <button class="btn btn-primary">Applied Promocode Cover</button>&nbsp;&nbsp;
            <button class="btn btn-warning">Non-Applied Promocode Cover</button>
        </div> -->
        <div class="vision-grid vision-grid-column-2 mt-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu" type="radio" name="menu" value="Applied" [(ngModel)]="activeMenu">
                    <label for="menu">Applied Cover</label>
                    <input type="radio" id="menu4" name="menu" value="NonApplied" [(ngModel)]="activeMenu">
                    <label for="menu4">Non-Applied Cover</label>
                    <!-- <input type="radio" id="menu3" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                        <label for="menu3">Currency</label> -->
                </div>
            </div>
            <div class="vision-grid-item">
                <ng-container *ngIf="tableData && activeMenu=='Applied'">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                Applied Cover Details
                            </div>
                            <div>
                                <button class="btn btn-warning" (click)="onAddNewCover()">Add New</button>
                            </div>
                        </div>
                    </div>
                    <app-grid-table [cols]="columnHeader" [data]="tableData" [filterValue]="filterValue" (onEdit)="onEdit($event)">
                    </app-grid-table>
                </ng-container>
                <ng-container *ngIf="tableData && activeMenu!='Applied'">
                    <nb-card-header>Non-Applied Cover Details</nb-card-header>
                    <app-grid-table [cols]="columnHeader" [data]="tableData" [filterValue]="filterValue" (onEdit)="onEdit($event)">
                    </app-grid-table>
                </ng-container>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="ongetBack()">Back</button>&nbsp;
            <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
        </div>
    </div>
</div>
