<div class="row p-2" style="background-color: #fff;">
    <div class="offset-1 col-2">
        <img src="./assets/images/logo.PNG">
    </div> 
</div>  
<div class="form_img">

</div>
<div class="maindiv">
<div class="optionDiv" >
    <h1 class="optionHeader">Car Insurance</h1>
    <h4>Insure your wheels, drive with confidence.</h4>
    <div  class="rightSide">
        <h3>Information Summary</h3>
        <div class="card1 Card1Border">
            <h2 class="optiontxt1">Option 1</h2>
            <span class="greentxt">Third Party Liability Only</span>
            <hr class="hr new4">
            <h3>Annual Premium (MUR)</h3>
            <h2 class="optiontxt1">RS.3,456</h2>
            <h3>After discount (MUR)</h3>
            <h2 class="optiontxt1">RS.3,456</h2>
            <button type="button" class="input bluebtn buybtn">Buy</button>
        </div>
        
    
    <div  class="second">
        <div class="card1 Card1Border">
            <h2 class="optiontxt1">Option 2</h2>
            <span class="greentxt">Comprehensive</span>
            <hr class="hr new4">
            <h3>Annual Premium (MUR)</h3>
            <h2 class="optiontxt1">RS.3,456</h2>
            <h3>After discount (MUR)</h3>
            <h2 class="optiontxt1">RS.3,456</h2>
            <hr class="hr new4">
            <span class="redtxt">Excess</span><br>
            <span class="bluetxt">Applicable excess on each and every claim (MUR)</span><br>
            <span  class="bluetxt bold">Rs 1,000</span><br>
            <span class="bluetxt">Young Driver Excess (MUR)</span><br>
            <span class="bluetxt bold">Rs 1,000</span><br>
            <button type="button" class="input bluebtn buybtn top">Buy</button>
        </div>
    </div>
</div>
</div>
<div class="formDiv">
    <h4>Hello, please fill in the forms below</h4>
    <div class="input-field top">
        <div class="btn-group" style="width:100%">
            <button >Car</button>
            <button >Health</button>
            <button >Motar</button>
            <button >life</button>
          </div>
    </div>
<div class="input-field top">
    <input type="text"  list="browsers"  class="input" required >
    <!-- <select class="input" ></select> -->
    <label class="label">Make of Vehicle</label>
    <datalist id="browsers">
        <option value="Chrome">
        <option value="Firefox">
        <option value="Internet Explorer">
        <option value="Opera">
        <option value="Safari">
        <option value="Microsoft Edge">
      </datalist>
</div>
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Model of Vehicle</label> -->
</div>
<span >If the make and model of your vehicle is not listed, please contact us at sales&#64;eagle.mu or 460 9206</span>
<!-- <div class="input-field top">
    <input type="text" required >
    <label>Make of Vehicle</label>
</div> -->
<div class="input-field top">
    <input type="text" class="input" required >
    <label class="label">Engine Capacity (CC/KW)</label>
</div>
<div class="input-field top">
    <input type="text" placeholder="Year of origin" required >
    <!-- <label>Year of origin</label> -->
</div>
<div class="input-field top">
    <input type="text"  placeholder="Sum you would like to insure your vehicle" required >
    <!-- <label>Sum you would like to insure your vehicle</label> -->
</div>
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>No of Passengers</label> -->
</div>
<span>For vehicle over Rs 5 000 000, please contact us at sales&#64;eagle.mu or 460 9206</span>
<!-- <div class="input-field top"> 
     <div class="flex justify-content-start gap-3">
        <div class="flex align-items-center">
            <h4>Trailer</h4><br>
           
            <span for="ingredient1" class="ml-2">Yes</span><input type="radio">
       
            <span for="ingredient2" class="ml-2">No</span><input type="radio">
        
    </div> 
</div>
</div> -->

<div class="radio_btn top">
    <h4>Trailer</h4>
    <label class="radio-button">
        <input type="radio" name="radio" checked="checked" value="Yes">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          Yes
        </span>
      </label>
      
      <label class="radio-button">
        <input type="radio" name="radio" value="No">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          No
        </span>
      </label>
</div>
 
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Claim History</label> -->
</div>
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Car replacement cover (Loss of Use)</label> -->
</div>

<!-- <div class="flex justify-content-start gap-3 top">
       <div class="flex align-items-center">
           <h4>Include Passive Terrorism cover?</h4><br>
      
           <span for="ingredient1" class="ml-2">Yes</span><input type="radio">
    
           <span for="ingredient2" class="ml-2">No</span><input type="radio">

   </div> 
</div> -->
<div class="radio_btn top">
    <h4>Include Passive Terrorism cover?</h4>
    <label class="radio-button">
        <input type="radio" name="radio" checked="checked" value="Yes">
        <span class="label-visible ">
          <span class="fake-radiobutton"></span>
          Yes
        </span>
      </label>
      
      <label class="radio-button">
        <input type="radio" name="radio" value="No">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          No
        </span>
      </label>
</div>

<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Issue year of your driving license</label> -->
</div>
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Date of birth</label> -->
</div>
<div class="input-field top">
    <select class="input"></select>
    <!-- <label>Group of your occupation</label> -->
</div>
<div class="input-field top">
    <input type="text" required placeholder="ID/ Passport Number for WIIV discount">
    <!-- <label>ID/ Passport Number for WIIV discount</label> -->
</div>
<div class="input-field top">
    <input type="text" required placeholder="Promo code">
    <!-- <label>Promo code</label> -->
</div>
<div class="input-field top">
    <button type="button" required class="input bluebtn">Get Quote Now</button>
</div>
</div>
</div>