<div class="card">
    <p-tabView [activeIndex]="tabIndex" (onChange)="onTabClicked($event)">
        <p-tabPanel header="Pending">
            <ng-container *ngIf="PendingListData.length!=0">
                <p-table #dtEmployee [value]="PendingListData" [paginator]="true"
                    [globalFilterFields]="['InsuredName','ExpiringPolicyNumber','MobileNumber','OldSI','NewStartDate']" [rows]="5">
                    <ng-template pTemplate="caption">
                        <!--[tableStyle]="{'min-width':'50rem'}" -->
                        <div class="flex flex wrap justify-content-end">
                            <div class="table-header">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                        [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="column" *ngFor="let column of columns">{{column}}
                                <p-sortIcon [field]="column"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Pending let-i="rowIndex">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ Pending.CustomerName}}</td>
                            <td>{{ Pending.OldPolicyNo }}</td>
                            <td>{{ Pending.OldQuoteNo }}</td>
                            <td>{{Pending.NewRequestRefNo}}</td>
                            <td>{{ Pending.InceptionDate}}</td>
                            <td>{{ Pending.ExpiryDate}}</td>
                            <td class="center"><button pButton pRipple icon="pi pi-eye"
                                    class="p-button-outlined" (click)="onViewRenewalDetails()"></button></td>
                                    <td class="center"><button pButton icon="pi pi-directions" pRipple *ngIf="!Pending.NewRequestRefNo"
                                        class="p-button-outlined" (click)="onConvertRenewalData(Pending)"></button>
                                        <button pButton icon="pi pi-pencil" pRipple *ngIf="Pending.NewRequestRefNo"
                                        class="p-button-outlined" (click)="onConvertRenewalData(Pending)"></button>
                                    </td>
                        </tr>
                    </ng-template>
                    <ng-container *ngIf="PendingListData.length==0">
                        No Data Available
                    </ng-container>
                </p-table>
            </ng-container>
            <ng-container *ngIf="PendingListData.length==0">
                <div class="text-center">
                    <b>No Data Available</b>
                </div>
            </ng-container>
        </p-tabPanel>
        <p-tabPanel header="Completed">
            <ng-container *ngIf="RenewalListData.length!=0">
                <p-table #dtEmployee [value]="RenewalListData" [paginator]="true"
                    [globalFilterFields]="['InsuredName','ExpiringPolicyNumber','MobileNumber','OldSI','NewStartDate']" [rows]="5">
                    <ng-template pTemplate="caption">
                        <!--[tableStyle]="{'min-width':'50rem'}" -->
                        <div class="flex flex wrap justify-content-end">
                            <div class="table-header">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                        [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="column" *ngFor="let column of columnC">{{column}}
                                <p-sortIcon [field]="column"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Renew let-i="rowIndex">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ Renew.CustomerName}}</td>
                            <td>{{ Renew.OldPolicyNo }}</td>
                            <td>{{ Renew.OldQuoteNo }}</td>
                            <td>{{ Renew.NewPolicyNumber}}</td>
                            <td>{{ Renew.InceptionDate}}</td>
                            <td>{{Renew.ExpiryDate}}</td>
                            <td class="center"><button pButton pRipple icon="pi pi-eye"
                                    class="p-button-outlined"></button></td>
                        </tr>
                    </ng-template>
                    <ng-container *ngIf="RenewalListData.length==0">
                        No Data Available
                    </ng-container>
                </p-table>
            </ng-container>
            <ng-container *ngIf="RenewalListData.length==0">
                <div class="text-center">
                    <b>No Data Available</b>
                </div>
            </ng-container>
        </p-tabPanel>
        <p-tabPanel header="Expired">
            <ng-container *ngIf="ExpiredListData.length!=0">
                <p-table #dtEmployee [value]="ExpiredListData" [paginator]="true"
                    [globalFilterFields]="['InsuredName','ExpiringPolicyNumber','MobileNumber','OldSI','NewStartDate']" [rows]="5">
                    <ng-template pTemplate="caption">
                        <!--[tableStyle]="{'min-width':'50rem'}" -->
                        <div class="flex flex wrap justify-content-end">
                            <div class="table-header">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                        [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="column" *ngFor="let column of columnC">{{column}}
                                <p-sortIcon [field]="column"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Expired let-i="rowIndex">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ Renew.CustomerName}}</td>
                            <td>{{ Renew.OldPolicyNo }}</td>
                            <td>{{ Renew.OldQuoteNo }}</td>
                            <td>{{ Renew.NewPolicyNumber}}</td>
                            <td>{{ Renew.InceptionDate}}</td>
                            <td>{{Renew.ExpiryDate}}</td>
                            <td class="center"><button pButton pRipple icon="pi pi-eye"
                                    class="p-button-outlined"></button></td>
                        </tr>
                    </ng-template>
                    <ng-container *ngIf="ExpiredListData.length==0">
                        No Data Available
                    </ng-container>
                </p-table>
            </ng-container>
            <ng-container *ngIf="ExpiredListData.length==0">
                <div class="text-center">
                    <b>No Data Available</b>
                </div>
            </ng-container>
        </p-tabPanel>
    </p-tabView>
    <div class="flex flex-wrap justify-content-center" *ngIf="subusertype=='high'">
        <button pButton pRipple label="&lt; Back" [routerLink]="['/renewal']"
                                    class="p-button-outlined"></button>
    </div>
</div>
<p-dialog header="Renewal Details" [(visible)]="viewRenewalDetails" [modal]="true" styleClass="w-10 md:w-8 lg:w-6"
    [draggable]="false" [resizable]="false">

</p-dialog>