<div class="card">
    <div class="grid">
        <div class="col-12 lg:col-9 xl:col-9 md:col-9 " >
            <h3 class="mr-3">Warranty</h3>
          </div>
          <div class="col-12 lg:col-3 xl:col-3 md:col-3 " >
            <label for="username">Select Master*</label>
            <p-dropdown inputId="title" 
                class="w-full" 
                styleClass="w-full" 
                (onChange)="getMenu(activeMenu)"
                [options]="MenuMasterList" 
                [(ngModel)]="activeMenu" 
                optionLabel="title" 
                optionValue="title" >
            </p-dropdown>
        </div>
        <div class="col-12 sm:col-6 md:col-4">
          <!-- <h3 class="mr-3">Warranty</h3> -->
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
        </div>
        <div class="col-12 sm:col-6 md:col-8" *ngIf="insuranceId">
          <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
            <p-button icon="pi pi-plus" label="Add New" severity="warning" size="small" (click)="onAddSection()" ></p-button>
          </div>
        </div>
      </div>
                <div class="grid">
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3">
                        <label for="username">Insurance Company*</label>
                        <p-dropdown inputId="insuranceId" 
                            class="w-full" 
                            styleClass="w-full" 
                            (onChange)="getBranchList('change')"
                            [options]="insuranceList" 
                            [(ngModel)]="insuranceId" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Insurance Company">
                        </p-dropdown>
                    </div>
    
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3">
                        <label for="username">Branch*</label>
                        <p-dropdown inputId="branchList" 
                            class="w-full" 
                            styleClass="w-full" 
                            (onChange)="getCompanyProductList('change')"
                            [options]="branchList" 
                            [(ngModel)]="branchValue" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Insurance Company">
                        </p-dropdown>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3">
                        <label for="username">ProductId*</label>
                        <p-dropdown inputId="branchList" 
                            class="w-full" 
                            styleClass="w-full" 
                            (onChange)="getSectionList();getExistingWarranty()"
                            [options]="productList" 
                            [(ngModel)]="productValue" 
                            optionLabel="ProductName" 
                            optionValue="ProductId" 
                            >
                        </p-dropdown>
                    </div>
                    <div class="flex flex-wrap md:col-4 lg:col-4 ">
                        <label for="username">Section Included?</label>
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="Yes" value="Y" [(ngModel)]="sectionYn"
                            (onChange)="onChangeSectionYn()"
                             inputId="ingredient2"></p-radioButton>
                            <span for="ingredient2" class="ml-1">Yes</span>
                        </div>
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="No" value="N" [(ngModel)]="sectionYn" 
                            (onChange)="onChangeSectionYn()"
                            inputId="ingredient3"></p-radioButton>
                            <span for="ingredient1" class="ml-1">No</span>
                        </div>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3" *ngIf="sectionYn!='N'">
                        <label for="username">Section*</label>
                        <p-dropdown inputId="insuranceId" 
                            class="w-full" 
                            styleClass="w-full" 
                            (onChange)="getExistingWarranty()"
                            [options]="sectionList" 
                            [(ngModel)]="sectionValue" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" >
                        </p-dropdown>
                    </div>
                </div>
                <ng-container *ngIf="WarrantyData.length!=0" class="mt-5">
                    <p-table [value]="WarrantyData" #dtEmployee
                             [globalFilterFields]="['WarrantyDescription','Core App Code',
                                                    'Effective Date Start','Status']"
                             [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
                             <ng-template pTemplate="caption">
                                <div class="flex flex wrap justify-content-end">
                                  <div class="table-header">
                                      <span class="p-input-icon-left">
                                          <i class="pi pi-search"></i>
                                          <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                          placeholder="Global Search" />
                                      </span>
                                  </div>
                                </div>
                                
                              </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          
                          <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
                            {{column}}
                            <p-sortIcon [field]="column"></p-sortIcon> 
                          </th>
                        </tr>
                      </ng-template>
                          <ng-template pTemplate="body" let-Warranty>
                            <tr>
                              <td>{{ Warranty.WarrantyDescription }}</td>
                              <td>{{ Warranty.CoreAppCode }}</td>
                              <td>{{ Warranty.CodeDescLocal }}</td>
                              <td>{{ Warranty.EffectiveDateStart }}</td>
                              <td>
                                <ng-container *ngIf="Warranty?.Status=='N'">DeActive</ng-container>
                                <ng-container *ngIf="Warranty?.Status=='Y'">Active</ng-container>
                                <ng-container *ngIf="Warranty?.Status=='P'">Pending</ng-container>
                            </td>
                            <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined"  (click)="onEditSection(Warranty)" ></button></td>
                              </tr>
                              </ng-template>
                    </p-table>
                </ng-container>
    <ng-container *ngIf="WarrantyData.length==0">
        <div class="text-center">
            No Data Available
        </div>
     </ng-container>
</div>




<!-- <div class="vision-grid-item">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    Warranty
                </div>
                <div>
                    <button class="btn btn-warning"
                        (click)="onAddSection()">Add New</button> -->
                        <!-- *ngIf="branchValue && productValue"-->
                    <!--<button class="btn btn-warning" *ngIf="sectionYn!='N' && branchValue && productValue"
                        (click)="onAddSectionList()">Add New</button>-->
                <!-- </div>
            </div>
        </div>
        <div>
            <div class="row mt-2 card-body">
                <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                    <div class="input-control-container">
                        <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                        <ng-select class="input-form-select"
                         appendTo="body" [(ngModel)]="insuranceId"
                          (change)="getBranchList('change')"
                           [items]="insuranceList" 
                           bindValue="Code" bindLabel="CodeDesc">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="input-control-container">
                        <label class="input-form-label">Branch<span class="text-required">*</span></label>
                        <ng-select class="input-form-select"
                         appendTo="body" [items]="branchList"
                            [(ngModel)]="branchValue" 
                            bindValue="Code" bindLabel="CodeDesc"
                            (change)="getCompanyProductList('change')">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="input-control-container">
                        <label class="input-form-label">ProductId<span class="text-required">*</span></label>
                        <ng-select class="input-form-select" appendTo="body"
                         [items]="productList"
                            [(ngModel)]="productValue" 
                            (change)="getSectionList();getExistingWarranty()"
                            bindValue="ProductId"
                             bindLabel="ProductName">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="input-control-container">
                        <label class="input-form-label">Section Included?<span class="text-required">*</span></label>
                        <div class="input-form-radio-box">
                            <div class="radio-toolbar">
                                <input id="orginwarehouse1" type="radio"
                                 name="originatingWarehouse1"
                                    [(ngModel)]="sectionYn" 
                                    (change)="onChangeSectionYn()" value="Y">
                                <label for="orginwarehouse1">Yes</label>
                                <input type="radio" id="orginwarehouse2" name="originatingWarehouse1"
                                    [(ngModel)]="sectionYn" (change)="onChangeSectionYn()" value="N">
                                <label for="orginwarehouse2">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4" *ngIf="sectionYn!='N'">
                    <div class="input-control-container">
                        <label class="input-form-label">Section</label>
                        <ng-select class="input-form-select" appendTo="body"
                         [items]="sectionList"
                            [(ngModel)]="sectionValue"
                             (change)="getExistingWarranty()" 
                            bindValue="Code"
                            bindLabel="CodeDesc">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <ng-container *ngIf="WarrantyData.length!=0">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <app-grid-table [cols]="columnHeader" changeStatus="true" (OnStatus)="EditStatus($event)"
                            [data]="WarrantyData" [filterValue]="filterValue" (onEdit)="onEditSection($event)">
                        </app-grid-table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->
