<div class="card">
    <div class="grid">
        <div class="col-12 lg:col-3 xl:col-3 md:col-3">
            <span><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Product Name</b></span>:<b><span
                    style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;font-weight: bold;color:var(--primary-color)">{{ProductName}}</span></b>
        </div>
        <div class="col-12 lg:col-3 xl:col-3 md:col-3">
            <span><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Broker Name</b></span>:<b><span
                    style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;font-weight: bold;color:var(--primary-color)">{{BrokerName}}</span></b>
        </div>
        <div class="col-12 lg:col-3 xl:col-3 md:col-3">
            <span><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Start Date</b></span>:<b><span
                    style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;font-weight: bold;color:var(--primary-color)">{{startDate}}</span></b>
        </div>
        <div class="col-12 lg:col-3 xl:col-3 md:col-3">
            <span><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">End Name</b></span>:<b><span
                    style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;font-weight: bold;color:var(--primary-color)">{{enddate}}</span></b>
        </div>
    </div>
    <ng-container>
        <p-table [columns]="quotesHeader" [value]="tableData1" #dtEmployee [globalFilterFields]="quotesHeader"
            [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption">
                <div class="flex flex-wrap justify-content-end">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                placeholder="       Search" />
                        </span>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="header" let-head>
                <tr>
                    <th *ngFor="let col of quotesHeader">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.RequestReferenceNo}}</td>
                    <td>{{ data.QuoteNo}}</td>
                    <td>{{ data.PolicyNo}}</td>
                    <td>{{ data.CustomerName}}</td>
                    <td>{{ data.BrokerLoginId}}</td>
                    <td>{{ data.PolicyStartDate}}</td>
                    <td>{{ data.PolicyEndDate}}</td>
                    <td>{{ data.OverallPremiumLc}}</td>
                    <td> <span class="p-buttonset">
                            <button type="button" pButton pRipple icon="pi pi-th-large"
                                (click)="menu.toggle($event)"></button>
                            <p-menu #menu [popup]="true" appendTo="body" [model]="getPolicyItems(data)"></p-menu>
                        </span></td>
                </tr>
            </ng-template>
        </p-table>
        <ng-container *ngIf="tableData1.length===0">
            No Data Available
        </ng-container>
    </ng-container>
</div>

<div style="text-align: center;">
    <p-button (click)="ongetBack()" label="Back"></p-button>
</div>