<div class="card pl-2">
    <ng-container *ngIf="productId=='46'">
                
            <div class="flex flex-wrap justify-content-between pl-3 pr-2 pb-0">
                <div>
                    <h4 class="m-0 p-0">Vehicle Details</h4>
                </div>
            </div>
        <ng-container *ngIf="productItem">
            <div class="grid mt-1">
                <div class="lg:col-2 md:col-2 col-2"></div>
                <div class="lg:col-8 md:col-8 col-8">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                        <formly-form [form]="form" [fields]="fields" [model]="productItem"></formly-form>
                    </form>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

    
