.line-in-middle {
    width:50px;
    height:auto;
	  background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              #EAECF0 calc(50% - 0.8px), 
                                #EAECF0 calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
	}
.moto-text {
     color: var(--primary-color);
}