<div class="grid mt-1">
    <div class="lg:col-3 md:col-3 col-12">
        <label for="username">Start Date</label>
        <p-calendar class="w-full" styleClass="w-full" [(ngModel)]="StartDate" (onSelect)="search()" [maxDate]="maxDate" [ngModelOptions]="{standalone: true}"
            dateFormat="dd/mm/yy" placeholder="Select Start Date">
        </p-calendar>
    </div>
    <div class="lg:col-3 md:col-3 col-12">
        <label for="username">End Date</label>
        <p-calendar class="w-full" styleClass="w-full"  
        [(ngModel)]="EndDate" [maxDate]="maxDate" [ngModelOptions]="{standalone: true}"
         dateFormat="dd/mm/yy"  placeholder="Select End Date">
        </p-calendar>
    </div>
    <div class="col-12 sm:col-6 md:col-3 mt-3" *ngIf="StartDate && EndDate">
      <p-button class="mr-4 mb-4" label="Search" (click)="getalldetails()"></p-button>
  </div>
</div>

<ng-container *ngIf="issuerData.length!=0">
    <p-table #dtEmployeeExist [value]="issuerData" 
    [tableStyle]="{'min-width':'w-full'}" [paginator]="true" [rows]="5" dataKey="RequestReferenceNo" expanded
    [globalFilterFields]="['QuoteNo','PolicyNo','ClientName','LoginId','TiraRequestId','ResponseStatusDesc']">
      <ng-template pTemplate="caption">
          <div class="flex flex wrap justify-content-end">
            <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" placeholder="GlobalSearch" />
              </span>
          </div>
          </div>
          
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th [pSortableColumn]="column" *ngFor="let column of issuerHeader">{{column}} <p-sortIcon [field]="column"></p-sortIcon></th>
          </tr>
      </ng-template>
      <tr> 
        <th *ngFor="let col of cols"> 
            <input pInputText type="text" (input)= 
            "tableref.filter($event.target.value, col.field, col.filterMatchMode)" /> 
        </th> 
      </tr> 
      <ng-template pTemplate="body" let-failure let-expanded="expanded">
        <tr>
          <!-- <td *ngIf="productId=='5' || productId=='46' || productId=='29'">
            <a href="#" [pRowToggler]="customer">
            <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'" (click)="onInnerData(customer)"></i>
          </a>
        </td> -->
          <td>{{ failure.QuoteNo }}</td>
          <td>{{ failure.ClientName }}</td>
          <td>{{ failure.PolicyNo }}</td>
          <td>{{ failure.ResponseStatusDesc }}</td>
          <td>{{ failure.ResponseStatusCode }}</td>
          <td>{{ failure.LoginId }}</td>
          <td>{{ failure.BranchName }}</td>
          <td>{{ failure.TiraRequestId }}</td>
          <td>{{ failure.TiraResponseId }}</td>
          <td>
            <button pButton pRipple icon="pi pi-spin pi-sync" (click)="onHit(failure)" title="ReHit" class="p-button-outlined"></button>
           </td>
          <td>
              <button pButton pRipple icon="pi pi-eye" title="View" (click)="onViews(failure)" class="p-button-outlined"></button>
          </td>
          <td>
              <span class="p-buttonset">
                  <button pButton pRipple [matMenuTriggerFor]="menu" title="Update" class="p-button-outlined">
                      <i class="pi pi-spin pi-cog"></i>
                  </button>
                  
                  <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="onCheckCustomerInfo(pending)">
                              <span>Customer Information</span>
                          </button>
                          <button mat-menu-item (click)="onCheckVehicleInfo(pending)" *ngIf="productId=='5'">
                              <span>Vehicle Information</span>
                          </button>
                  </mat-menu>
              </span>
            </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-container *ngIf="issuerData.length==0">
        <div class="flex flex-wrap justify-content-center mt-2">
              No Quote Available
        </div>
  </ng-container>


  <p-dialog  header="Tira View"   [modal]="true" [(visible)]="visible"  position="top"  [style]="{ width: 'w-10' }" [draggable]="false">

    <ng-container>
        <p-table #dtEmployeeExist [value]="tiradetails" expanded
        [tableStyle]="{'min-width':'w-full'}" [paginator]="true" [rows]="5" dataKey="TiraTrackingId"
        [globalFilterFields]="['RequestId','ResponseId','StatusCode','TiraTrackingId','EntryDate','MethodName']">
          <ng-template pTemplate="caption">
              <div class="flex flex wrap justify-content-end">
                <div class="table-header">
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" placeholder="GlobalSearch" />
                  </span>
              </div>
              </div>
              
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="column" *ngFor="let column of tiraHeader">{{column}} <p-sortIcon [field]="column"></p-sortIcon></th>
              </tr>
          </ng-template>
         
          <ng-template pTemplate="body" let-failure let-expanded="expanded">
            <tr>
              <td>{{ failure.RequestId }}</td>
              <td>{{ failure.ResponseId }}</td>
              <td>{{ failure.StatusCode }}</td>
              <td>{{ failure.TiraTrackingId }}</td>
              <td>{{ failure.HitCount }}</td>
              <td>{{ failure.StatusDesc }}</td>
              <td>{{ failure.EntryDate }}</td>
              <td>{{ failure.MethodName }}</td>
              <td>
                <button pButton pRipple icon="pi pi-cloud-download" (click)="onReqPathDownload(failure)" title="RequestFilePath" class="p-button-outlined"></button>
               </td>
              <td>
                  <button pButton pRipple icon="pi pi-cloud-download" title="ResponseFilePath" (click)="onResPathDownload(failure)" class="p-button-outlined"></button>
              </td>
              <td>
                <p-button type="button" pRipple [pRowToggler]="failure" [text]="true" [rounded]="true" [plain]="true" (click)="onInnerData(failure)" [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'" />
            </td>
            
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion"  let-failure >
            <tr >
                <td colspan="12">
                    <div class="p-1 justify-content-center">
                        <p-table [value]="innerdata" dataKey="TiraTrackingId">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="column" *ngFor="let column of innerColumnHeader">{{column}} <p-sortIcon [field]="column"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-failure>
                            <tr>
                            <td>{{ failure.RequestId }}</td>
                            <td>{{ failure.ResponseId }}</td>
                            <td>{{ failure.StatusCode }}</td>
                            <td>{{ failure.TiraTrackingId }}</td>
                            <td>{{ failure.HitCount }}</td>
                            <td>{{ failure.StatusDesc }}</td>
                            <td>{{ failure.EntryDate }}</td>
                            <td>{{ failure.MethodName }}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-cloud-download" (click)="onReqPathDownload(failure)" title="RequestFilePath" class="p-button-outlined"></button>
                                </td>
                                <td>
                                    <button pButton pRipple icon="pi pi-cloud-download" title="ResponseFilePath" (click)="onResPathDownload(failure)" class="p-button-outlined"></button>
                                </td>
                            </tr>
                        </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-container *ngIf="tiradetails.length==0">
            <div class="flex flex-wrap justify-content-center mt-2">
                  No Quote Available
            </div>
      </ng-container>
      

</p-dialog>