<div class="card">
    <div class="grid">
        <div class="col-12 lg:col-9 xl:col-9 md:col-9 " >
            <h3 class="mr-3">Existing DropDown </h3>
          </div>
          <div class="col-12 lg:col-3 xl:col-3 md:col-3 " >
            <label for="username">Select Master*</label>
            <p-dropdown inputId="title" 
                class="w-full" 
                styleClass="w-full" 
                (onChange)="getMenu(activeMenu)"
                [options]="MenuMasterList" 
                [(ngModel)]="activeMenu" 
                optionLabel="title" 
                optionValue="title" >
            </p-dropdown>
        </div>
        <div class="col-12 sm:col-6 md:col-4">
          <!-- <h3 class="mr-3">Existing DropDown</h3> -->
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
        </div>
        <div class="col-12 sm:col-6 md:col-8">
          <div class="flex justify-content-start sm:justify-content-end  flex-wrap" >
            <p-button icon="pi pi-plus" label="Add New" severity="warning" size="small" (click)="onAddDropdowns()"></p-button>
          </div>
        </div>
    </div>
    <div class="grid">
        <!-- <div class="flex flex-wrap md:col-4 lg:col-4">
            <label >Insurance Company Based Country?*</label><br>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Yes" (onChange)="onChangeYN()" [(ngModel)]="companyYn" value="Y" inputId="orginwarehouse1"></p-radioButton>
                <span for="ingredient1" class="ml-1">Yes</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="No" (onChange)="onChangeYN()" [(ngModel)]="companyYn" value="N" inputId="orginwarehouse2"></p-radioButton>
                <span for="ingredient2" class="ml-1">No</span>
            </div>
        </div> -->
        <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3" >
            <label for="username">Insurance Company*</label>
            <p-dropdown inputId="insuranceId" 
                class="w-full" 
                styleClass="w-full" 
                (onChange)="getList('change')"
                [options]="insuranceList" 
                [(ngModel)]="insuranceId" 
                optionLabel="CodeDesc" 
                optionValue="Code" 
                placeholder="Select Insurance Company">
            </p-dropdown>
        </div>
        <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3" >
          <label for="username">Type*</label>
          <p-dropdown inputId="TypeList" 
              class="w-full" 
              styleClass="w-full" 
              (onChange)="getExistingDropdown()"
              [options]="TypeList" 
              [(ngModel)]="TypeValue" 
              optionLabel="CodeDesc" 
              optionValue="CodeDesc" 
              placeholder="Select Insurance Company">
          </p-dropdown>
      </div>
    </div>
        <!-- <app-grid-table [cols]="countryHeader" onChangeStatus="true" (OnStatus)="EditStatus($event)" [data]="countryData" [filterValue]="filterValue" (onEdit)="onEdit($event)" (onConfigure)="onConfigure($event)">
        </app-grid-table> *ngIf="countryData.length!=0"-->
        <ng-container  class="mt-5"  *ngIf="dropdownData.length!=0">
            <p-table [value]="dropdownData" #dtEmployee
                     [globalFilterFields]="['ItemValue','ItemCode',
                                            'EffectiveDateStart','Status']"
                     [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
                     <ng-template pTemplate="caption">
                        <div class="flex flex wrap justify-content-end">
                          <div class="table-header">
                              <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                  placeholder="Global Search" />
                                  <!-- (input)="dtEmployeeActive.filterGlobal($event.target.value, 'contains')" -->
                              </span>
                          </div>
                        </div>
                        
                      </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  
                  <th [pSortableColumn]="column" *ngFor="let column of dropdownHeader">
                    {{column}}
                    <p-sortIcon [field]="column"></p-sortIcon> 
                  </th>
                </tr>
              </ng-template>
                  <ng-template pTemplate="body" let-dropDown>
                    <tr>
                      <td>{{ dropDown.ItemValue }}</td>
                      <td>{{ dropDown.ItemCode }}</td>
                      <td>{{ dropDown.CodeDescLocal }}</td>
                      <td>{{ dropDown.EffectiveDateStart }}</td>
                      <td>
                        <ng-container *ngIf="dropDown?.Status=='N'">DeActive</ng-container>
                        <ng-container *ngIf="dropDown?.Status=='Y'">Active</ng-container>
                        <ng-container *ngIf="dropDown?.Status=='P'">Pending</ng-container>
                    </td>
                    <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" (click)="onEditDrop(dropDown)"></button></td>
                      <!-- <td>{{ customer.PolicyStartDate }}</td>
                      <td>{{ customer.PolicyEndDate }}</td>
                      <td>{{ customer.OverallPremiumLc }}</td> -->
                      </tr>
                      </ng-template>
            </p-table>
        </ng-container>
    <ng-container *ngIf="dropdownData.length==0">
        <div class="text-center">
            No Data Available
        </div>
    </ng-container>
</div>






<!-- <div class="card">

    <div class="vision-grid-item">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                  Existing DropDown
                </div>
                <div>
                    <button class="btn btn-warning" (click)="onAddDropdowns()">Add New</button>
                </div>
            </div>
        </div> -->
            <!--<div class="card-header">Existing DropDown</div>-->
            <!-- <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                        <div class="input-control-container">
                            <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                            <ng-select class="input-form-select"
                             appendTo="body" [(ngModel)]="insuranceId"
                              (change)="getList('change')"
                               [items]="insuranceList" bindValue="Code" bindLabel="CodeDesc">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="input-control-container">
                            <label class="input-form-label">Type<span class="text-required">*</span></label>
                            <ng-select class="input-form-select" 
                            appendTo="body" [items]="TypeList" 
                            bindValue="CodeDesc" (change)="getExistingDropdown()" 
                            [(ngModel)]="TypeValue" bindLabel="CodeDesc">
                            </ng-select>
                        </div>
                    </div> -->
                    <!--<div class="col-md-3 col-xl-3 col-lg-3 offset-5 pl-4" *ngIf="TypeValue">
                        <button class="btn btn-warning" (click)="onAddDropdowns()">Add New</button>
                    </div>-->
                <!-- </div> -->

                    <!-- <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="input-control-container">
                            <label class="input-form-label">Branch<span class="text-required">*</span></label>
                            <ng-select class="input-form-select" appendTo="body" [items]="branchList" bindValue="Code" (change)="getList()" [(ngModel)]="branchValue" bindLabel="CodeDesc">
                            </ng-select>
                        </div>
                    </div> -->


                <!-- <ng-container *ngIf="dropdownData.length!=0">
                    <app-grid-table [cols]="dropdownHeader" changeStatus="true" (OnStatus)="EditStatus($event)" [data]="dropdownData" [filterValue]="filterValue" (onEdit)="onEditDrop($event)">
                    </app-grid-table>
                </ng-container> -->
                <!--<div class="text-center">
                    <button class="btn btn-danger" (click)="ongetBack()">Back</button>
                </div>-->


                <!-- <ng-container *ngIf="branchData && branchValue">
                    <app-grid-table [cols]="columnHeader" [data]="branchData" [filterValue]="filterValue" (onEdit)="onEditOccupation($event)" (onConfigure)="onConfigure($event)">
                    </app-grid-table>
                </ng-container>-->
            <!-- </div>
        </div>
    </div>

</div> -->

