<div class="card">
    <div class="grid">
        <div class="col-12 sm:col-6 md:col-4">
          <h3 class="mr-3">Motor Insurance</h3>
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
        </div>
        <div class="col-12 sm:col-6 md:col-8">
          <!-- <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
            <span class="p-input-icon-right mr-3 mb-3">
              <i class="pi pi-search"></i>
              <input type="text" placeholder="Search" pInputText/>
            </span>
            <p-button icon="pi pi-cloud-download" label="Export" styleClass="p-button-outlined" class="mr-3" size="small"></p-button>
            <p-button icon="pi pi-plus" label="Add New Quote" severity="warning" size="small"></p-button>
          </div> -->
        </div>
      </div>
      <div class="grid">
        <div class="col-12 lg:col-1 md:col-1">
        </div>
        <div class="col-12 lg:col-3 md:col-3">
            <label for="source-code">National Id</label>
            <input pInputText id="username" class="w-full" maxlength="50" [(ngModel)]="nationalityId"
            placeholder="Enter Nationality Id"/>
        </div>
        <div class="col-12 lg:col-3 md:col-3">
            <label for="username">Date Of Birth</label>
            <p-calendar class="w-full" styleClass="w-full" [(ngModel)]="dob"
                dateFormat="dd/mm/yy" placeholder="Select Date Of Birth">
            </p-calendar>
        </div>
        <div class="col-12 lg:col-3 md:col-3">
            <label for="source-code">Mobile Number</label>
            <input pInputText id="username" class="w-full" maxlength="10"  [(ngModel)]="mobileNo"
            placeholder="Enter Mobile Number"/>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 lg:col-3 md:col-3"></div>
        <div class="col-12 lg:col-2 md:col-2">
            <div class="input-control-container">
                <div class="input-form-radio-box mt-2">
                    <input id="CustomID" type="radio" name="rentOwnHome" (click)="Change('CustomID')"
                     [(ngModel)]="customNumber"  value="CustomID" >
                    <label for="CustomID" >Custom ID</label>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-2 md:col-2">
            <div class="input-control-container">
                <div class="input-form-radio-box mt-2">
                    <input id="SequenceNumber" type="radio" name="rentOwnHome" [(ngModel)]="customNumber" 
                     value="SequenceNumber" (click)="Change('SequenceNumber')" >
                    <label for="SequenceNumber" >Sequence Number</label>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3 md:col-3" *ngIf="SequenceNumber">
            <label for="Sequence">Sequence Number</label>
            <input pInputText id="Sequence" class="w-full" maxlength="50" [(ngModel)]="sequenceNo"   
            placeholder="Enter Sequence"/>
        </div>
        <div class="col-12 lg:col-3 md:col-3" *ngIf="CustomID">
            <label for="source-code">Custom ID</label>
            <input pInputText id="username" class="w-full" maxlength="50"  
            placeholder="Enter Custom ID"/>
        </div>
      </div>
      <div class="grid">
      <div class="col-12 lg:col-3 md:col-3"></div>
      <span class="p-5">DO YOU WANT TRANSFER OWNERSHIP?</span>
      <div class="input-control-container mt-3">
        <div class="input-form-radio-box mt-2">
            <div class="radio-toolbar1 radio-toolbar">
                <input id="ProductNo" type="radio" name="TransferOwnerShipYN" [(ngModel)]="ownerShipYN"  value="N" >
                <label for="ProductNo" >No</label>
                <input id="ProductYes" type="radio" name="TransferOwnerShipYN" [(ngModel)]="ownerShipYN"  value="Y" >
                <label for="ProductYes" > Yes</label>
            </div>
        </div>
        </div>
    </div>
    <div class="grid justify-content-center mt-3">
       
            <p-button  label="Submit" (click)="ongetSearchVehicle()" size="small"></p-button>
     
    </div>
</div>