
<div class="card">
    <div class="grid">
      <div class="col-12 sm:col-6 md:col-4">
        <h3 class="mr-3">Premia View</h3>
        <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
      </div>
      <div class="col-12 sm:col-6 md:col-8">
      </div>
    </div>
    
    <p-divider></p-divider>
    <div class="grid mt-4">
      <div class="col-12 py-0">
        <div class=" flex justify-content-start flex-wrap w-full form-container">
            
            <div class="col-12 sm:col-6 md:col-3">
                <label for="username">StartDate</label>
                <p-calendar class="w-full" styleClass="w-full"  [(ngModel)]="startdate" dateFormat="dd/mm/yy">
                </p-calendar>
            </div>
            <div class="col-12 sm:col-6 md:col-3">
              <label for="username">EndDate</label>
              <p-calendar class="w-full" styleClass="w-full"  [(ngModel)]="enddate" dateFormat="dd/mm/yy">
              </p-calendar>
          </div>
          <div class="col-12 sm:col-6 md:col-3">
            <label for="username">Product</label>
            <p-dropdown inputId="make" 
                class="w-full" 
                styleClass="w-full" 
                optionLabel="CodeDesc" 
                [options]="productList" 
                optionValue="Code" 
                [(ngModel)]="productId">
            </p-dropdown>
        </div>
            <div class="col-12 sm:col-6 md:col-3 mt-3" *ngIf="startdate && enddate">
                <p-button class="mr-4 mb-4" label="Search" (click)="onCustomerSearch()"></p-button>
            </div>
        </div>
      </div>
      </div>


      <p-divider></p-divider>
      <div class="grid mt-4">
        <div class="col-12 py-0">
          <div class=" flex justify-content-start flex-wrap w-full form-container">
            <div class="col-12 sm:col-6 md:col-3">
              <label for="username">Policy Number :</label>
              <input pInputText class="w-full"   styleClass="w-full"  [(ngModel)]="PolicyNo" placeholder="Enter Policy Number " />
          </div>
          <div class="col-12 sm:col-6 md:col-3 mt-3">
            <p-button class="mr-4 mb-4" label="Integration" (click)="onHit(null)"></p-button>
        </div>
          </div>
        </div>
      </div>
          
      <p-tabView >
        <p-tabPanel header="Success" *ngIf="issuerDataS.length!=0">
              <ng-container *ngIf="issuerDataS.length!=0">
                <p-table #dtEmployee [value]="issuerDataS" 
                [paginator]="true"  class="w-full"
                [globalFilterFields]="['QuoteNo','RequestReferenceNo','ClientName','OverallPremiumLc','OriginalPolicyNo',]" [rows]="5">
                <ng-template pTemplate="caption">
                  <div class="flex flex wrap justify-content-end">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="GlobalSearch'" />
                        </span>
                    </div>
                  </div>
                </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th [pSortableColumn]="column" *ngFor="let column of issuerHeader">{{column}} <p-sortIcon [field]="column"></p-sortIcon></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-list>
                    <tr>
                      
                      <td>{{ list.OriginalPolicyNo }}</td>
                      <td>{{ list.QuoteNo}}</td>
                      <td>{{ list.ClientName }}</td>
                      <td>{{ list.RequestReferenceNo }}</td>
                      <td>{{ list.PolicyStartDate}}</td>
                      <td>{{ list.PolicyEndDate}}</td>
                      <td>{{ list.OverallPremiumLc}}</td>
                      <td><button pButton pRipple icon="pi pi-eye"  class="p-button-outlined" (click)="onViews(list)" ></button></td>
                      <td> <button pButton pRipple icon="pi pi-spin pi-sync" (click)="onHit(list)" title="ReHit" class="p-button-outlined"></button></td>
                      <td><button pButton pRipple icon="pi pi-cloud-download"  class="p-button-outlined" (click)="Downloadss(list)" ></button></td>
                    </tr>
                  </ng-template>
                  
                </p-table>
                </ng-container >
        </p-tabPanel>
        <p-tabPanel header="Failure" *ngIf="issuerDataF.length!=0">
          <ng-container *ngIf="issuerDataF.length!=0">
            <p-table #dtEmployee [value]="issuerDataF" 
            [paginator]="true"  class="w-full"
            [globalFilterFields]="['QuoteNo','RequestReferenceNo','ClientName','OverallPremiumLc','OriginalPolicyNo',]" [rows]="5">
            <ng-template pTemplate="caption">
              <div class="flex flex wrap justify-content-end">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="GlobalSearch'" />
                    </span>
                </div>
              </div>
            </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th [pSortableColumn]="column" *ngFor="let column of issuerHeaderF">{{column}} <p-sortIcon [field]="column"></p-sortIcon></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-list>
                <tr>
                  
                  <td>{{ list.OriginalPolicyNo }}</td>
                  <td>{{ list.QuoteNo}}</td>
                  <td>{{ list.ClientName }}</td>
                  <td>{{ list.RequestReferenceNo }}</td>
                  <td>{{ list.PolicyStartDate}}</td>
                  <td>{{ list.PolicyEndDate}}</td>
                  <td>{{ list.OverallPremiumLc}}</td>
                  <td><button pButton pRipple icon="pi pi-eye"  class="p-button-outlined" (click)="onViews(list)" ></button></td>
                  <td> <button pButton pRipple icon="pi pi-spin pi-sync" (click)="onHit(list)" title="ReHit" class="p-button-outlined"></button></td>
                  <!-- <td><button pButton pRipple icon="pi pi-cloud-download"  class="p-button-outlined" (click)="Downloadss(list)" ></button></td> -->
                </tr>
              </ng-template>
              
            </p-table>
            </ng-container >
        </p-tabPanel>
        
    </p-tabView>
    </div>
    <div class="flex flex-wrap justify-content-center">
    <ng-container  *ngIf="issuerData.length==0">
        No Data Available
    </ng-container>
  </div> 
  