<div class="grid">
    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
        <label for="Company">Company *</label>
        <p-dropdown inputId="companyId" class="w-full" styleClass="w-full" [(ngModel)]="insuranceId" [options]="companyList" (onChange)="getIssuerList();getMobileCodeList();getCountryList()" optionLabel="CodeDesc" optionValue="Code">
        </p-dropdown> 
    </div>
</div> 
<ng-container >
    <p-table  [value]="issuerData" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" #dtEmployeeExist
        [globalFilterFields]="['LoginId','UserName','UserMail','CreatedBy','UserMobile']">
        <ng-template pTemplate="caption">
            <div class="flex flex wrap justify-content-end">
            <div class="table-header">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span>&nbsp;
            </div>
            <div><p-button label="Add New Issuer" size="small" (click)="showDialogBrokerDetails('AddIssuer')"></p-button></div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Issuer Name</th>
                <th>Login Id </th>
                <th>MailID </th>
                <th>Created By</th>
                <th>Mobile No</th>
                <th>Status </th>
                <th>Action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-ri="rowIndex">
          <tr>
            <td>{{data.UserName}}</td>
            <td>{{data.LoginId}}</td>
            <td>{{data.UserMail}}</td>
            <td>{{data.CreatedBy}}</td>
            <td>{{data.UserMobile}}</td>
            <td>
                <ng-container *ngIf="data.Status=='Y'">Active</ng-container>
                <ng-container *ngIf="data.Status=='N'">DeActive</ng-container>
                <ng-container *ngIf="data.Status=='P'">Pending</ng-container>
            </td>
            <td>
                <span class="p-buttonset">
                    <button pButton pRipple icon="pi pi-pencil" title="Edit" class="p-button-outlined" (click)="EditDetailsView(data)" ></button>
                    <button pButton pRipple icon="pi pi-cog" title="Configure"  class="p-button-outlined" (click)="opUser.toggle($event)"></button>
                    <button pButton pRipple icon="pi pi-eye" title="View"   class="p-button-outlined" (click)="brokerDetailsView(data)"></button>
                </span>
            </td>
          </tr>
          <p-overlayPanel #opUser [style]="{ width: 'auto'}" >
            <div class="input-control-container">
                <div class="input-form-radio-box mt-2">
                    <div class="radio-toolbar1 radio-toolbar">
                        <input id="Branch" type="radio" name="rentOwnHome" (click)="branchDataList(data.LoginId)" *ngIf="data.SubUserType!='SuperAdmin'"  value="Branch">
                        <label for="Branch" style="background-color: primary;" *ngIf="data.SubUserType!='SuperAdmin'" ><img style="max-width: 30px;max-height: 10px;" >Branch</label>
                        <input id="Product" type="radio" name="rentOwnHome"   value="Product" *ngIf="data.SubUserType!='SuperAdmin'" (click)="issuerProduct(data)">
                        <label for="Product" *ngIf="data.SubUserType!='SuperAdmin'"><img style="max-width: 30px;max-height: 10px;" >Product</label>
                        <input id="PaymentTypes" type="radio" name="rentOwnHome"   value="PaymentTypes" (click)="quotationMenuList(data)">
                        <label for="PaymentTypes" ><img style="max-width: 30px;max-height: 10px;" >Menu List</label>
                        <input id="issuerLevels" type="radio" name="rentOwnHome"   value="issuerLevels" (click)="EmpAddInfo=true">
                        <label for="issuerLevels" ><img style="max-width: 30px;max-height: 10px;" >Additional Info</label>
                    </div>
                </div>
            </div>
        </p-overlayPanel>
        </ng-template>
    </p-table>
</ng-container>

<p-dialog header="Issuer Details" [modal]="true" [(visible)]="AddIssuerPopup" [style]="{ width: '75rem' }">
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Name" class="font-semibold w-6rem">Insurance Employee Name&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="Name" class="w-full"  [(ngModel)]="userName" maxlength="100"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Channel" class="font-semibold w-6rem">Menu Type &nbsp;<span class="text-danger">*</span></label>
            <p-dropdown  class="w-full" styleClass="w-full" (onChange)="onIssuerTypeChange()" [(ngModel)]="issuerType" [options]="typeList"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Insurance" class="font-semibold w-6rem">Insurance Company &nbsp;<span class="text-danger">*</span></label>
            <ng-container *ngIf="issuerType == 'SuperAdmin'">
                <p-multiSelect  class="w-full" styleClass="w-full" [options]="companyList" [(ngModel)]="insuranceIds" defaultLabel="Select a Company" optionLabel="CodeDesc" optionValue="Code"
	            display="chip" (onClick)="onCompanyChange('change',null,null)"></p-multiSelect>
            </ng-container>
            <ng-container *ngIf="issuerType != 'SuperAdmin'">
                <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="insuranceId"  [options]="companyList" 
                    optionLabel="CodeDesc" optionValue="Code" (onChange)="onCompanyChange('change',null,null)">
                </p-dropdown>
            </ng-container>
        </div>
    </div>
    <div class="grid">
        <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="CustomerCode" class="font-semibold w-6rem">Customer Code</label>
            <div class="p-inputgroup">
                <input type="text" id="CustomerCode" pInputText placeholder="Customer Code" [(ngModel)]="customerCode" />
                <button type="button" pButton icon="pi pi-search" class="p-button-outlined" ></button>
            </div>
        </div> -->
        
        <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="issuerType != 'SuperAdmin'">
            <label for="Channel" class="font-semibold w-6rem">Products &nbsp;<span class="text-danger">*</span></label>
            <p-multiSelect  class="w-full" styleClass="w-full" [options]="productList" [(ngModel)]="productIds" defaultLabel="Select a Product" optionLabel="CodeDesc" optionValue="Code"
	            display="chip"></p-multiSelect>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="issuerType != 'SuperAdmin'">
            <label for="Channel" class="font-semibold w-6rem">Branches &nbsp;<span class="text-danger">*</span></label>
            <p-multiSelect  class="w-full" styleClass="w-full" [options]="branchList" [(ngModel)]="branchIds" defaultLabel="Select a Branch" optionLabel="CodeDesc" optionValue="Code"
            display="chip"></p-multiSelect>
        </div> -->
    </div>
    <p-divider class="mt-3 mb-3" />
    <span class="p-text-dark block mb-5"><b>Address Information</b></span>
    <div class="grid">
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address1" class="font-semibold w-6rem">Address1 <span class="text-danger">*</span></label>
            <input pInputText id="Address1" [(ngModel)]="address1" class="w-full" maxlength="150" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address2" class="font-semibold w-6rem">Address2 <span class="text-danger">*</span></label>
            <input pInputText id="Address2"  [(ngModel)]="address2" class="w-full" maxlength="150" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Email" class="font-semibold w-6rem">Email&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="Email" class="w-full" [(ngModel)]="userMail"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Country" class="font-semibold w-6rem">Country&nbsp;<span class="text-danger">*</span></label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="countryCode" [options]="countryList" (onChange)="onCountryChange('change')"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Region" class="font-semibold w-6rem">Region&nbsp;<span class="text-danger">*</span></label>
            <p-dropdown  class="w-full" id="Region" styleClass="w-full" [options]="stateList" [(ngModel)]="stateCode"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="District" class="font-semibold w-6rem">District&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="Email" class="w-full" [(ngModel)]="cityName"/>
        </div>
       
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Mobile" class="font-semibold w-6rem">Mobile No&nbsp;<span class="text-danger">*</span></label>
            <div class="flex flex-warp">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="mobileCode" [options]="mobileCodeList"
                        optionLabel="CodeDesc" optionValue="Code" >
                    </p-dropdown> 
                </div>
                <div class="col-12 lg:col-8 md:col-8 lg:col-8" >
                    <input pInputText id="Mobile" class="w-full" [(ngModel)]="userMobile" />
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="WhatsApp" class="font-semibold w-6rem">WhatsApp No&nbsp;<span class="text-danger">*</span></label>
            <div class="flex flex-warp">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <p-dropdown  class="w-full" styleClass="w-full"  [(ngModel)]="whatsAppCode" [options]="mobileCodeList" 
                        optionLabel="CodeDesc" optionValue="Code" >
                    </p-dropdown> 
                </div>
                <div class="col-12 lg:col-8 md:col-8 lg:col-8">
                    <input pInputText id="WhatsApp" class="w-full" [(ngModel)]="whatsAppNo"/>
                </div>
            </div>
        </div>
    </div>
    <p-divider class="mt-3 mb-3" />
    <span class="p-text-dark block mb-5"><b>Login  Information</b></span>
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="LogInId" class="font-semibold w-6rem">LogIn Id&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="LogInId" class="w-full" [disabled]="editSection" [(ngModel)]="issuerLoginId"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="editSection">
        <label class="input-form-label">Do You Like to Change Password?<span class="text-danger">*</span></label>
            <div class="input-form-radio-box">
                <div class="radio-toolbar radio-toolbar1">
                    <input id="changePasswrd_Yes" type="radio" name="changePassYN" [(ngModel)]="changePasswordYN" value="Y">
                    <label for="changePasswrd_Yes" >Yes</label>
                    <input id="changePasswrd_No" type="radio" name="changePassYN" [(ngModel)]="changePasswordYN" value="N">
                    <label for="changePasswrd_No">No</label>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="changePasswordYN=='Y' || !editSection">
            <label for="Password1" class="font-semibold w-6rem" *ngIf="!editSection">Password *</label>
            <label *ngIf="changePasswordYN=='Y'">New Password&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="Password1" class="w-full" [(ngModel)]="password" *ngIf="changePasswordYN=='Y' || !editSection" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="changePasswordYN=='Y' || !editSection">
            <label for="Password2" class="font-semibold w-6rem" *ngIf="!editSection">Re-Enter Password *</label>
            <label *ngIf="changePasswordYN=='Y'">Re-Enter New Password&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="Password2" class="w-full" [(ngModel)]="repassword" *ngIf="changePasswordYN=='Y' || !editSection" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="EffectiveDate" class="font-semibold w-6rem">Effective Date&nbsp;<span class="text-danger">*</span></label>
            <p-calendar  
            [showIcon]="true" 
            inputId="icondisplay" 
            styleClass="w-full"
            dateFormat="dd/mm/yy"
            [(ngModel)]="effectiveDate"
            
            class="w-full"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Remarks" class="font-semibold w-6rem">Remarks&nbsp;<span class="text-danger">*</span></label>
            <textarea pInputTextarea id="Remarks" [(ngModel)]="remarks" class="w-full" ></textarea>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4 radioList">
            <label for="ExcemptedYN" class="font-semibold w-6rem">Status&nbsp;<span class="text-danger">*</span></label>
            <div class="flex flex-warp">
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Active" value="Y" [(ngModel)]="statusValue" inputId="ingredient2"></p-radioButton>
                <span for="Active" class="ml-1">Active</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Pending" value="P" [(ngModel)]="statusValue" inputId="ingredient3"></p-radioButton>
                <span for="Pending" class="ml-1">Pending</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="DeActive" value="N" [(ngModel)]="statusValue" inputId="ingredient3"></p-radioButton>
                <span for="DeActive" class="ml-1">DeActive</span>
            </div>
        </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4 radioList" *ngIf="issuerType == 'SuperAdmin'">
            <label for="ExcemptedYN" class="font-semibold w-6rem">HelpLink&nbsp;<span class="text-danger">*</span></label>
            <p-selectButton [options]="DmlList" [(ngModel)]="dmlValue" id="dmlYN"   optionLabel="CodeDesc" optionValue="Code"></p-selectButton>
        </div>
    </div>
    <div class="flex justify-content-center gap-2">
        <p-button label="Cancel" styleClass="p-button-outlined" (click)="AddIssuerPopup=!AddIssuerPopup" />
        <p-button label="Submit" (click)="onProceed(null)"/>
    </div>
</p-dialog> 
<p-dialog  header="Issuer Details" [modal]="true"  [(visible)]="visibleIssuerDetails"  [style]="{ width: '90rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <div class="grid ">
            <div class="col-12 lg:col-5 md:col-5 lg:col-5">
                <p-card header="Personal Details">
                    <hr>
                    <div class="flex flex-warp justify-content-end">
                        <div class="col-8 lg:col-8 md:col-8 lg:col-8" *ngIf="userName!=null && userName!=''">
                            <p class="font-semibold broker_name"> Name </p>
                            <p>{{userName}}</p>
                        </div>
                        <div class="col-3 lg:col-3 md:col-3 lg:col-3">
                            <p-button label="Edit"  class="p-button-outlined" (click)="visibleIssuerDetails=!visibleIssuerDetails;AddIssuerPopup=!AddIssuerPopup" styleClass="p-button-outlined" />
                            <!-- <i class="pi pi-check-circle" style="color: green"></i> -->
                        </div>
                        <div class="col-1 lg:col-1 md:col-1 lg:col-1">
                            <!-- <p-button label="Edit"  class="p-button-outlined" styleClass="p-button-outlined" /> -->
                            
                        </div>
                    </div>
                        <div class="grid ">
                            <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="customerCode!=null && customerCode!=''">
                                <p  class="font-semibold broker_name">Menu Type </p>
                                <p>{{customerCode}}</p>
                            </div> -->
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" >
                                <p  class="font-semibold broker_name">Address </p>
                                <p *ngIf="address1!=null && address1!='' || address2!=null && address2!=''">{{address1}},{{address2}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4 flex-warp" *ngIf="userMail!=null && userMail!=''">
                                <p  class="font-semibold broker_name">Email </p>
                                <p>{{userMail}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" >
                                <p  class="font-semibold broker_name">Mobile No </p>
                                <p>{{userMobile}}</p>
                            </div>
                            
                        </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-5 md:col-5 lg:col-5">
                <p-card header="Branch">
                    <hr>
                        <div class="grid ">
                            <div class="col-8 lg:col-3 md:col-3 lg:col-3" *ngIf="channelId!=null && channelId!=''">
                                <p  class="font-semibold broker_name">Branches </p>
                                <p>{{channelId}}</p>
                                
                            </div>
                            <div class="col-12 lg:col-9 md:col-9 lg:col-9" *ngIf="companyName!=null && companyName!=''">
                                <p  class="font-semibold broker_name">Insurance Company </p>
                                <p>{{companyName}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="countryCode!=null && countryCode!=''">
                                <p  class="font-semibold broker_name">Country </p>
                                <p>{{countryCode}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="stateName!=null && stateName!=''">
                                <p  class="font-semibold broker_name">Region </p>
                                <p>{{stateName}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="cityName!=null && cityName!=''">
                                <p  class="font-semibold broker_name">District </p>
                                <p>{{cityName}}</p>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="creditLimit!=null && creditLimit!=''">
                                <p  class="font-semibold broker_name">Credit Limit</p>
                                <p>{{creditLimit}}</p>
                            </div>
                            <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                                <p  class="font-semibold broker_name">Contact Person</p>
                                <p></p>
                            </div> -->
                        </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-2 md:col-2 lg:col-2">
                <p-card header="Account Status">
                    <hr>
                    <div class="col-12">
                    <p *ngIf="Status=='Y'">Active &nbsp; <p-badge [value]="" severity="success" /></p>
                    <p *ngIf="Status=='N'">DeActive &nbsp; <p-badge [value]="" severity="danger" /></p>
                   </div>
                   <div class="col-12">
                       <p  class="font-semibold broker_name">Login Id</p>
                       <p>{{issuerLoginId}}</p>
                    </div>
                    <div class="col-12">
                    <p-button  label="Change Password"  class="p-button-outlined" styleClass="p-button-outlined" (click)="passwordField()" />
                    </div>
                    <!--  -->
                        <!-- <p  class="font-semibold broker_name">Last Login Date</p>
                        <p>12/06/2024</p> -->
                    <!--  -->
                </p-card>
            </div>
            <!-- *ngIf="ChangePass" -->
            <div class="col-12 lg:col-12 md:col-12 lg:col-12" *ngIf="ChangePass" >
                <div class="grid">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <label for="username">New Password*</label><br>
                    <input pInputText type="Password"   class="w-full" [(ngModel)]="password"
                    styleClass="w-full"  
                    placeholder="Enter New Password"/>
                </div>
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <label for="username">Re-Enter New Password*</label><br>
                    <input pInputText type="Password"  [(ngModel)]="repassword" class="w-full" 
                    styleClass="w-full" 
                    placeholder="Enter Re-Enter New Password"/>
                </div>
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <label for="EffectiveDate" class="font-semibold w-6rem">Effective Date&nbsp;<span class="text-danger">*</span></label>
                    <p-calendar  
                    [showIcon]="true" 
                    inputId="icondisplay" 
                    styleClass="w-full"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="effectiveDate"
                    class="w-full"/>
                </div>
                
                </div>
                <div class="flex flex-warp justify-content-center mt-4">
                    <p-button label="Submit"  (click)="passChanged()" />
                </div>
            </div>
            <div class="col-12 lg:col-12 md:col-12 lg:col-12">
                <p-card header="Products">
                    <hr>
                    <div class="grid" >
                   <div class="col-12 lg:col-2 md:col-2 lg:col-2" >
                    <!-- {{product.ProductName}} *ngFor="let product of brokerProductList"-->
                       <p  class="font-semibold broker_name"><i class="pi pi-map" style="font-size: 1rem"></i> &nbsp;</p>
                       <hr>
                       <!-- <p>Quote &nbsp; <p-badge [value]="product.ProductId" /></p>
                       <p>Policy &nbsp; <p-badge [value]="product.ProductIconId" /></p>
                       <p>Endorsement &nbsp; <p-badge [value]="product.PackageYn" /></p> -->
                       <p>Quote &nbsp; </p>
                       <p>Policy &nbsp;</p>
                       <p>Endorsement &nbsp;</p>
                    </div>
                    </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-6 md:col-6 lg:col-6">
                <p-card header="Period">
                    <hr>
                <div class="grid">
                   <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                       <p class="font-semibold broker_name">Last Login Date</p>
                       <p>{{LastLoginDate}}</p>
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Last Policy Date</p>
                        <p>{{LastPolicyDate}}</p>
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Last Quote Date</p>
                        <p>{{LastQuoteDate}}</p>
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                         <p class="font-semibold broker_name">Collected Premium</p>
                         <p>{{CollectedPremium}}</p>
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Policy Commission</p>
                        <p>{{PolicyCommission}}</p>
                    </div>
                </div>
                    <!-- <div class="col-12">
                    <p-button label="Change Password"  class="p-button-outlined" styleClass="p-button-outlined" (click)="passwordField()" />
                    </div> -->
                    <!--  -->
                        <!-- <p  class="font-semibold broker_name">Last Login Date</p>
                        <p>12/06/2024</p> -->
                    <!--  -->
                </p-card>
            </div>
            <!-- <div class="col-12 lg:col-6 md:col-6 lg:col-6">
                <p-card header="Users">
                    <hr>
                <div class="grid">
                   <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                       <p class="font-semibold broker_name">Users</p>
                       <!
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                       
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                       - 024</p
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                        <!- <p>100,000</p> >
                     </div>
                    </div>
                </p-card>
            </div> -->
        </div>
       
</p-dialog>
<p-dialog  header="Menu Configuration" [modal]="true"  [(visible)]="ProductsPopup"  [style]="{ width: '75rem' }" >
    <div class="grid ">
        <div class="col-12 lg:col-4 md:col-4">
            <span class="p-text-dark block mb-5"><b>Quotation Menu List (Included)</b></span>
            <div class="card" style="height: 30rem;overflow-x: auto;">
                <div>
                    <ng-container *ngFor="let item of userList;let i=index;">
                        <ng-container *ngIf="item.IsDesti!=undefined && item.IsDesti!=null">
                            <input type="checkbox" [name]="item.id" [(ngModel)]="item.IsDesti" [value]="item.id">
                            <ng-container (onChange)="onChange(item,i)">
                                <span>{{item?.title}} </span>
                                <hr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-1 md:col-1 "></div>
        <div class="col-12 lg:col-2 md:col-2 mt-5 ">
            <div class="mt-5">
                <span class="p-buttonset gap-2 ">
                    <button pButton pRipple icon="pi pi-angle-left"  class="p-button-outlined"  (click)="onSelected('left')" ></button>
                    <button pButton pRipple icon="pi pi-arrow-right-arrow-left" [disabled]="true"  class="p-button-outlined" ></button>
                    <button pButton pRipple icon="pi pi-angle-right"  class="p-button-outlined" (click)="onSelected('right')"></button>
                </span><br>
            </div>
            <div class="mt-2">
            <span class="p-buttonset gap-2 ">
                <button pButton pRipple icon="pi pi-angle-double-left"  class="p-button-outlined"  (click)="onMoveAll('left')"></button>
                <button pButton pRipple icon="pi pi-arrow-right-arrow-left" [disabled]="true"  class="p-button-outlined" ></button>
                <button pButton pRipple icon="pi pi-angle-double-right"  class="p-button-outlined"  (click)="onMoveAll('right')"></button>
            </span>
            </div>
        </div>
        <div class="col-12 lg:col-1 md:col-1 "></div>
        <div class="col-12 lg:col-4 md:col-4">
            <span class="p-text-dark block mb-5"><b>User Menu List (Excluded)</b></span>
            <div class="card" style="height: 30rem;overflow-x: auto;">
                <div>
                    <ng-container *ngFor="let item of includedUserList;let i=index;">
                        <ng-container *ngIf="item.IsDesti!=undefined && item.IsDesti!=null">
                            <input type="checkbox"  [name]="item.id" [(ngModel)]="item.IsDesti" [value]="item.id">
                            <ng-container (change)="onExcludeChange(item,i)">
                                <span> {{item?.title}}</span>
                                <hr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center gap-2">
        <p-button label="Back" styleClass="p-button-outlined" (click)="ProductsPopup=false" />
        <p-button label="Submit" (click)="onProceedMenu()"/>
    </div>
</p-dialog>

<p-dialog  header="Products "  [modal]="true"  [(visible)]="ProductsPopupTable"  [style]="{ width: '90rem' }" >
    <p-table [value]="productList" #dtEmployeeProductAdd
    [globalFilterFields]="['ProductName','SumInsuredEnd','CommissionPercent','BackDays','EffectiveDateStart']" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="table-header flex flex-warp justify-content-end">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dtEmployeeProductAdd.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Select</th>
                <th>Product</th>
                <th>Field Name</th>
                <th>Min SumInsured</th>
                <th>Max SumInsured</th>
                <th>Endorsements</th>
                <th>Issuer Level</th>
                <!-- <th>FinaliseYN</th>
                <th>EscalateYN</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr>
                <td><mat-checkbox class="example-margin text-center"   [checked]="checkSelectedProducts(data)" (change)="onChangeSelectedProduct(data,$event.checked,i)">
                                                       
                </mat-checkbox> </td>
                <td>{{data.ProductName}}</td>
                <td> <p-dropdown  class="w-full" styleClass="w-full" appendTo="body" [options]="columnList"  [(ngModel)]="data.ColumnName"
                    optionLabel="CodeDesc" optionValue="Code" >
                </p-dropdown></td>
                <td><input pInputText id="sumInsured" class="w-full" [(ngModel)]="data.SumInsuredStart" maxlength="16" /></td>
                <td><input pInputText id="sumInsuredEnd" class="w-full" [(ngModel)]="data.SumInsuredEnd" maxlength="16" /></td>
                <td ><p-button  icon="pi pi-book" *ngIf="data.IsOptedYn=='Y'" styleClass="p-button-outlined"  (click)="showEndorsement(data,'endrose')"/></td>
                <td><p-dropdown *ngIf="data.IsOptedYn=='Y' && data.WorkflowYN=='Y'" placeholder="--Select--" class="w-full" styleClass="w-full" appendTo="body" [options]="data.AllAvailableHierarchy" [(ngModel)]="data.HierarchyValue"
                    optionLabel="HierarchyLevel" optionValue="HierarchyValue" >
                </p-dropdown></td>
                <!-- <td>
                    <div class="flex flex-warp" *ngIf="data.IsOptedYn=='Y'">
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="Yes" value="true" inputId="Active"  [(ngModel)]="data.CanFinalize"></p-radioButton>
                            <span for="Active" class="ml-1">Yes</span>
                        </div>
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="No" value="false" inputId="DeActive" [disabled]="data.HierarchyValue==4" [(ngModel)]="data.CanFinalize"></p-radioButton>
                            <span for="DeActive" class="ml-1">No</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flex flex-warp" *ngIf="data.IsOptedYn=='Y'">
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="Yes" value="true"  inputId="Active"  [(ngModel)]="data.CanEscalate"></p-radioButton>
                            <span for="Active" class="ml-1">Yes</span>
                        </div>
                        <div class="flex align-items-center mr-1">
                            <p-radioButton name="No" value="false"  inputId="DeActive" [disabled]="data.HierarchyValue==4" [(ngModel)]="data.CanEscalate"></p-radioButton>
                            <span for="DeActive" class="ml-1">No</span>
                        </div>
                    </div>
                </td> -->
            </tr>
           
        </ng-template>

    </p-table> 
     <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Cancel" (click)="ProductsPopupTable=!ProductsPopupTable" styleClass="p-button-outlined"  />
                <p-button label="Submit" (click)="onProceedIssuer('direct')" />
            </div>
</p-dialog>


<p-dialog  header="Products " [modal]="true"  [(visible)]="EndorsPopupTable"  [style]="{ width: '75rem' }" >
    <p-table [value]="endorseData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <label for="Category">Category</label>
                    <p-dropdown  class="w-full" styleClass="w-full" [options]="categoryList" [(ngModel)]="categoryId" (onChange)="getEndorsementList()"
                    optionLabel="CodeDesc" optionValue="Code" >
                </p-dropdown>
                </div>
                <div>
                    <span>Product Name ~ &nbsp;Motor</span>|
                    LoginId ~ &nbsp;{{issuerLoginId}}
                </div>
               
                <!-- Products  -->
                <!-- <p-button icon="pi pi-pencil"   (click)="showDialogBrokerDetails('editBranchDetail')" /> -->
                <!-- <p-button icon="pi pi-plus"  label="Add Branch" (click)="showDialogBrokerDetails('branchDetail')" /> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Select</th>
                <th>EndtType</th>
                <th>CoreAppCode</th>
                <th>RegulatoryCode</th>
                <th>EffectiveDateStart</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr><td><mat-checkbox class="example-margin text-center"  [checked]="onCheckEndorseSelect(row)" (change)="onSelectendorse(row,$event.checked,i)">                                    
                </mat-checkbox> </td>
                <td>{{row.EndtType}}</td>
                <td>{{row.CoreAppCode}}</td>
                <td>{{row.RegulatoryCode}}</td>
                <td>{{row.EffectiveDateStart}}</td>
               
            </tr>
           
        </ng-template>

    </p-table> 
     <div class="flex justify-content-center gap-2 mt-2">
                <p-button label="Back" styleClass="p-button-outlined"  (click)="EndorsPopupTable=!EndorsPopupTable;" />
                <p-button label="Submit" (click)="onsubmitsEndorse()" />
            </div>
</p-dialog>


<p-dialog  header="Branch " [modal]="true"  [(visible)]="branchPopup"  [style]="{ width: '75rem' }" >
    <p-table  [tableStyle]="{'min-width': '60rem'}" [value]="branchData" [rows]="5" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Branch 
                <p-button icon="pi pi-plus"  label="Add Branch" (click)="showDialogBrokerDetails('branchDetail')" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Branch Name</th>
                <th>Effective Date</th>
                <th>Mobile No</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-branch>
            <tr>
                <td>{{branch.BranchName}}</td>
                <td>{{branch.EffectiveDateStart}}</td>
                <td>{{branch.Mobile}}</td>
                <td *ngIf="branch.Status=='Y'">Active</td>
                <td *ngIf="branch.Status=='N'">DeActive</td>
                <td><p-button icon="pi pi-pencil"  styleClass="p-button-outlined"  (click)="editBranch(branch)" /></td>
            </tr>
        </ng-template>
    </p-table> 
</p-dialog>
<p-dialog  header="Branch Details" [modal]="true"  [(visible)]="branchDetailsPopup"  [style]="{ width: '80rem' }" >
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="BranchName" class="font-semibold w-6rem">Branch Name&nbsp;<span class="text-danger">*</span></label>
            <div class="p-inputgroup">
                <input type="text" id="BranchName" pInputText placeholder="Branch Name" [(ngModel)]="brokerBranchName" />
                <button type="button" pButton icon="pi pi-search"  class="p-button-outlined" (click)="showDialogBrokerDetails('branchSPDetail')"></button>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Insurance" class="font-semibold w-6rem">Insurance Company Branch&nbsp;<span class="text-danger">*</span></label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="branchName" [options]="branchList"    
                        optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4 radioList">
            <label for="ExcemptedYN" class="font-semibold w-6rem">Branch Type&nbsp;<span class="text-danger">*</span></label>
            <div class="flex flex-warp">
                <div class="flex align-items-center mr-1">
                    <p-radioButton name="Main" value="Main"  inputId="Main" [(ngModel)]="branchType"></p-radioButton>
                    <span for="Main" class="ml-1">Main</span>
                </div>
                <div class="flex align-items-center mr-1">
                    <p-radioButton name="Sub" value="Sub"  inputId="Sub" [(ngModel)]="branchType"></p-radioButton>
                    <span for="Sub" class="ml-1">Sub</span>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="SalePointCode" class="font-semibold w-6rem">Sale PointCode&nbsp;<span class="text-danger">*</span></label>
            <input pInputText id="SalePointCode" class="w-full" [(ngModel)]="salePointCode" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address1" class="font-semibold w-6rem">Address 1 </label>
            <input pInputText id="Address1" class="w-full" [(ngModel)]="address1" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address2" class="font-semibold w-6rem">Address 2</label>
            <input pInputText id="Address2" class="w-full" [(ngModel)]="address2" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Email" class="font-semibold w-6rem">Email</label>
            <input pInputText id="Email" class="w-full"   [(ngModel)]="email"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="MobileNo" class="font-semibold w-6rem">Mobile No</label>
            <input pInputText id="MobileNo" class="w-full" [(ngModel)]="mobile"/>
        </div>
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="EffectiveDate" class="font-semibold w-6rem">Effective Date&nbsp;<span class="text-danger">*</span></label>
            <p-calendar  dateFormat="dd/mm/yy" inputId="EffectiveDate" class="w-full" styleClass="w-full" appendTo="body"   [(ngModel)]="effectiveDate" /> 
        </div>

        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Remarks" class="font-semibold w-6rem">Remarks</label>
            <textarea pInputTextarea id="Remarks" class="w-full" [(ngModel)]="remarks"></textarea>
        </div>

        <div class="col-12 lg:col-4 md:col-4 lg:col-4 radioList">
            <label for="ExcemptedYN" class="font-semibold w-6rem">Status&nbsp;<span class="text-danger">*</span></label>
            <div class="flex flex-warp">
                <div class="flex align-items-center mr-1">
                    <p-radioButton name="Yes" value="Y"  inputId="Active" [(ngModel)]="statusValue"></p-radioButton>
                    <span for="Active" class="ml-1">Active</span>
                </div>
                <div class="flex align-items-center mr-1">
                    <p-radioButton name="No" value="N"  inputId="DeActive" [(ngModel)]="statusValue"></p-radioButton>
                    <span for="DeActive" class="ml-1">DeActive</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center gap-2">
        <p-button label="Cancel" styleClass="p-button-outlined" (click)="branchDetailsPopup=false" />
        <p-button label="Submit" (click)="onFormSubmit()" />
    </div>
</p-dialog>
<p-dialog  header="Branch Search" [modal]="true"  [(visible)]="branchSPDetailsPopup"  [style]="{ width: '80rem' }" >
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="RegulatoryCode" class="font-semibold w-6rem">Regulatory Code</label>
            <div class="p-inputgroup">
                <input type="text" id="RegulatoryCode" pInputText placeholder="Enter Your Regulatory Code" (keyup)="searchBranchName('change',$event.target.value,null)" [(ngModel)]="searchBranchValue" />
            </div>
        </div>
    </div>
    <ng-container *ngIf="SalePointCodeList.length==0 && searchBranchValue">
        <div class="flex flex-warp justify-content-center">
            <b>No Branch Available</b>
        </div>
    </ng-container>
    <ng-container *ngIf="SalePointCodeList.length!=0">
        <p-table [value]="SalePointCodeList"  [tableStyle]="{'min-width': '60rem'}" *ngIf="existingProduct"  [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Select</th>
                    <th>Branch Name</th>
                    <th>Salepoint Code</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <mat-radio-button [id]="'type'+i"
                            [name]="'customBranchRadio'+i" (change)="se(customer)">
                        </mat-radio-button>
                    </td>
                    <td>{{product.CodeDesc}}</td>
                    <td>{{product.Code}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
    <ng-template pTemplate="summary" >
        <div class="flex justify-content-center gap-2">
            <p-button label="Cancel" styleClass="p-button-outlined" (click)="branchSPDetailsPopup=!branchSPDetailsPopup" />
            <p-button label="Submit" *ngIf="selectedSPCode" (click)="onSaveBranchName()" />
        </div>
    </ng-template>
</p-dialog>

<p-dialog  header="Additional Info" [modal]="true"  [(visible)]="EmpAddInfo"  [style]="{ width: '70rem' }" >
    
</p-dialog>