<div class="card">
    <div class="grid">
      
<div class="col-12 lg:col-9 xl:col-9 md:col-9 " >
  <h3 class="mr-3">Existing Make </h3>
</div>
<div class="col-12 lg:col-3 xl:col-3 md:col-3 " >
  <label for="username">Select Master*</label>
  <p-dropdown inputId="title" 
      class="w-full" 
      styleClass="w-full" 
      (onChange)="getMenu(activeMenu)"
      [options]="MenuMasterList" 
      [(ngModel)]="activeMenu" 
      optionLabel="title" 
      optionValue="title" >
  </p-dropdown>
</div>
        <div class="col-12 sm:col-6 md:col-4">
          <!-- <h3 class="mr-3">Existing Make</h3> -->
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
        </div>
        <div class="col-12 sm:col-6 md:col-8" *ngIf="insuranceId && branchValue">
          <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
            <p-button icon="pi pi-plus" label="Add New" severity="warning" size="small" (click)="onAddColor()"></p-button>
          </div>
        </div>
      </div>
                <div class="grid">
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3">
                        <label for="username">Insurance Company*</label>
                        <p-dropdown inputId="insuranceId" 
                            class="w-full" 
                            styleClass="w-full"
                            (onChange)="getBranchList('change')"
                            [options]="insuranceList" 
                            [(ngModel)]="insuranceId" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Insurance Company">
                        </p-dropdown>
                    </div>
    
                    <div class="col-12 lg:col-4 xl:col-4 md:col-4 ml-3">
                        <label for="username">Branch*</label>
                        <p-dropdown inputId="branchList" 
                            class="w-full" 
                            styleClass="w-full" 
                            (onChange)="getExistingColor()"
                            [options]="branchList" 
                            [(ngModel)]="branchValue" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Insurance Company">
                        </p-dropdown>
                    </div>
                </div>
                <ng-container *ngIf="MakeData.length!=0" class="mt-5">
                    <p-table [value]="MakeData" #dtEmployee
                             [globalFilterFields]="['Exchange Rate','Core App Code',
                                                    'Effective Date Start','Status']"
                             [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
                             <ng-template pTemplate="caption">
                                <div class="flex flex wrap justify-content-end">
                                  <div class="table-header">
                                      <span class="p-input-icon-left">
                                          <i class="pi pi-search"></i>
                                          <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')"
                                          placeholder="Global Search" />
                                      </span>
                                  </div>
                                </div>
                                
                              </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          
                          <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
                            {{column}}
                            <p-sortIcon [field]="column"></p-sortIcon> 
                          </th>
                        </tr>
                      </ng-template>
                          <ng-template pTemplate="body" let-Make>
                            <tr>
                              <td>{{ Make.MakeNameEn }}</td>
                              <td>{{ Make.CodeDescLocal }}</td>
                              <td>{{ Make.EffectiveDateStart }}</td>
                              <td>
                                <ng-container *ngIf="Make?.Status=='N'">DeActive</ng-container>
                                <ng-container *ngIf="Make?.Status=='Y'">Active</ng-container>
                                <ng-container *ngIf="Make?.Status=='P'">Pending</ng-container>
                            </td>
                            <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined"  (click)="onEditMake(Make)"></button></td>
                              </tr>
                              </ng-template>
                    </p-table>
                </ng-container>
    <ng-container *ngIf="MakeData.length==0">
        <div class="text-center">
            No Data Available
        </div>
     </ng-container>
</div>