<div class="card">
    <div class="grid justify-content-end">
        <div class="col-12 sm:col-6 md:col-4">
            <h3 class="mr-3">SMS Details</h3>
        </div>
        <div class="col-12 sm:col-6 md:col-8">
            <div class="flex justify-content-start sm:justify-content-end flex-wrap">
                <p-button
                    label="Add New"
                    *ngIf="!smss"
                    (click)="showDialog()"
                ></p-button>
            </div>
        </div>
    </div>
    <div class="grid justify-content-center">
        <p-button
            styleClass="p-button-outlined"
            label="Back"
            size="small"
            *ngIf="!smss"
            (click)="smsBack()"
        ></p-button
        >&nbsp;
    </div>
    <ng-container *ngIf="smss">
        <div class="col-12 lg:col-3 md:col-3">
            <label for="username">Templates *</label>
            <p-dropdown
                inputId="make"
                class="w-full"
                styleClass="w-full"
                [options]="SmsTemplateList"
                [(ngModel)]="smstemplatevalue"
                optionLabel="CodeDesc"
                optionValue="Code"
                (onChange)="getSmsTemplate()"
                placeholder="Select "
            >
            </p-dropdown>
        </div>
        <div class="grid justify-content-center">
            <div class="col-12 lg:col-4 md:col-4" *ngIf="smstemplatevalue">
                <label>Sms Subject*</label>
                <input
                    pInputText
                    class="w-full"
                    styleClass="w-full"
                    [(ngModel)]="SmsSubject"
                />
            </div>
            <div class="col-12 lg:col-4 md:col-4" *ngIf="smstemplatevalue">
                <label>Sms Regards*</label>
                <input
                    pInputText
                    [(ngModel)]="SmsRegards"
                    class="w-full"
                    styleClass="w-full"
                />
            </div>
        </div>
        <div class="grid justify-content-center">
            <div class="col-12 lg:col-4 md:col-4" *ngIf="smstemplatevalue">
                <label for="MailBody">Sms Body</label>
                <textarea
                    pInputTextarea
                    [(ngModel)]="SmsBody"
                    class="w-full"
                    styleClass="w-full"
                    cols="200"
                    rows="7"
                ></textarea>
            </div>
        </div>
        <div class="grid justify-content-center mt-3">
            <div *ngIf="smstemplatevalue">
                <p-button
                    styleClass="p-button-outlined"
                    label="Back"
                    size="small"
                    *ngIf="smss && smstemplatevalue"
                    (click)="back()"
                ></p-button
                >&nbsp;
                <p-button
                    *ngIf="smss && smstemplatevalue"
                    label="Submit"
                    size="small"
                    (click)="sendSms()"
                ></p-button>
            </div>
        </div>
    </ng-container>
</div>
