<ng-container *ngIf="(!policySection && !endorsementSection && !successSection && !loadingSection && !draftSection) || (endorsementSection && IsChargeOrRefund=='CHARGE' && !policySection) || EmiYn=='Y'">
    <div class="grid mb-2">
        <div class="lg:col-7 md:col-7 col-12">
            <h2>{{'PAYMENT.Justonemorestep' | translate}}</h2>
            <p>{{'PAYMENT.HiPleaseprovideyourPaymentdetialstocompletethepayment' | translate}}</p>
            <h4>{{'PAYMENT.PaymentType' | translate}}</h4>
        </div>
        <div class="lg:col-5 md:col-5 col-12">
            <div class="flex flex-wrap justify-content-end">
                <div *ngIf="quoteNo"><b>{{'QUOTEGRID.QuoteNo' | translate}}- <span class="primaryTextColor">{{quoteNo}}</span></b>&nbsp;|&nbsp;</div>
                <div *ngIf="requestReferenceNo">{{'QUOTEGRID.ReferenceNo' | translate}}- <span class="primaryTextColor">{{requestReferenceNo}}</span></div>
            </div><br>
            <div class="card grid text-white surface-900 px-4 py-2" (click)="showSidebar()">
                <div class="col-12">
                    <p class="mb-0">{{'PREMIUM.TotalPremium' | translate}}</p>
                    <input type="number" id="totalPremium" name="totalPremium" [(ngModel)]="totalPremium" style="display: none;">
                    <h6 class="text-white mt-0">{{totalPremium | commaseparator}}&nbsp;({{currencyCode}})</h6>
                </div>
            </div>
        </div>
    </div>
    
    <p-selectButton [options]="paymentTypeList" [(ngModel)]="selectedPaymentOption" (click)="onRedirect()" [optionLabel]="getDisplayName()" optionValue="Code"></p-selectButton>
    
    <h4 *ngIf="Third || seven || Fourth || Seventh">{{'PAYMENT.PaymentDetails' | translate}}</h4> 
    <ng-container *ngIf="Third || seven">
        <div class="my-4">
            <div class="mb-3">
                <label for="username">{{'PAYMENT.PayeeName' | translate}}*</label><br>
                <input type="text" [(ngModel)]="payeeName" maxlength="100" pInputText class="md:w-full lg:w-25rem"/>
            </div>
            <div class="mb-3">
                <label for="username">{{'PAYMENT.Amount' | translate}}</label><br>
                <input type="text" [(ngModel)]="payAmount" (keydown)="onAmountChange($event)" (keyup)="CommaFormatted()"  maxlength="50" pInputText class="md:w-full lg:w-25rem"/>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="Fourth">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6 xl:col-6">
                <div class="grid" >
                    <div class="lg:col-12 md:col-12 col-12">
                        <label for="username">{{'PAYMENT.BankName' | translate}}</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="bankList" 
                            [(ngModel)]="bankName" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            [placeholder]="'PAYMENT.SelectBank' | translate">
                        </p-dropdown>
                    </div>
                </div>
                <div class="grid" >
                    <div class="lg:col-12 md:col-12 col-12">
                        <label for="username">{{'PAYMENT.MICRNumber' | translate}}*</label><br>
                        <input type="text" [(ngModel)]="micrNo"  maxlength="100" pInputText class="md:w-full"/>
                    </div>
                </div>
                <div class="grid" >
                    <div class="lg:col-12 md:col-12 col-12">
                        <label for="username">{{'PAYMENT.ChequeNumber' | translate}} *</label><br>
                        <input type="text" [(ngModel)]="chequeNo"  maxlength="6" pInputText class="md:w-full"/>
                    </div>
                </div>
                <div class="grid" >
                    <div class="lg:col-12 md:col-12 col-12">
                        <label for="username">{{'PAYMENT.ChequeDate' | translate}}*</label><br>
                        <p-calendar class="md:w-full lg:w-25rem" 
                            styleClass="w-full" 
                            [minDate]="minDate" 
                            [(ngModel)]="chequeDate"
                            dateFormat="dd/mm/yy"
                            [placeholder]="'PAYMENT.SelectChequeDate' | translate">
                        </p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6 xl:col-6" *ngIf="chequeSection && uploadedDocList.length==0">
                <input style="display: none;" type="file" (change)="onUploadDocuments($event,null,'direct','select')" #doc>
                <div class="imag-card my-3" style="max-width:300px !important;" appDragDropFileUpload (fileDropped)="onUploadDocuments($event,null,'direct','drag')" (click)="doc.click()">
                    <div>
                        <div class="center">
                            <b class="text-dark" style="font-size:1rem">
                                <i class="far fa-images"></i> {{'PAYMENT.DragorSelectaChequeLeaf' | translate}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6 xl:col-6" *ngIf="chequeSection && uploadedDocList.length!=0">
                <label for="username">{{'PAYMENT.ChequeLeafDocument' | translate}}*</label><br> 
                <p-table [value]="uploadedDocList" dataKey="name">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:4rem">{{'DOCUMENT.FileName' | translate}}</th>
                            <th style="width:4rem">{{'DOCUMENT.Actions' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doc let-i="rowIndex">
                        <tr>
                            <td>{{doc.OriginalFileName}}</td>
                            <td>
                                <span class="p-buttonset">
                                    <button pButton pRipple icon="pi pi-download"  title="Download" class="p-button-outlined" (click)="onCommonDocumentDownload(i)"></button>
                                    <button pButton pRipple icon="pi pi-trash" title="Delete" class="p-button-outlined" (click)="onDeleteCommonDocument(i)"></button>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        
    </ng-container>
    <ng-container *ngIf="Seventh">
          <div class="grid mt-1">
            <div class="col-12 md:col-4 lg:col-4 xl:col-4">
                <label for="payeeName">{{'PAYMENT.Code' | translate}} *</label><br>
                <p-dropdown inputId="make" 
                    class="w-full" 
                    styleClass="w-full" 
                    [options]="mobileCodeList" 
                    [(ngModel)]="mpaisaCode" 
                    optionLabel="CodeDesc" 
                    optionValue="Code" 
                    [placeholder]="'PAYMENT.SelectBank ' | translate">
                </p-dropdown>
            </div>
            <div class="col-12 md:col-4 lg:col-4 xl:col-4">
                <label for="payeeName">{{'PAYMENT.MPaisaNumber' | translate}} *</label><br>
                <div class="mt-2">
                  <input type="text" class="w-full"  styleClass="w-full"  pInputText [(ngModel)]="mpaisaNumber" maxlength="11">
                </div>
            </div>
          </div>
    </ng-container>
    <ng-container *ngIf="mobilePaymentPending">
        <div class="card-body">
                <div class="text-center">
                    <b>{{'PAYMENT.MobilePaymentisonProcess' | translate}}</b>
                </div>
                <div class="text-center">
                    <img src="./assets/images/mobilePayment.gif" width="225px" height="200px" />
                </div>
                <div class="text-center mt-2" *ngIf="checkStatusSection">
                    <p-button [label]="'PAYMENT.CheckPaymentStatus' | translate" (click)="checkStatusOnce()" class="text-l pi-button"></p-button>
                </div>
        </div>
      </ng-container>
    <!-- <div class="my-4">
        <div class="mb-3">
            <label for="username">Bank Name*</label><br>
            <input type="text" pInputText class="md:w-full lg:w-25rem"/>
        </div>
        <div class="mb-3">
            <label for="username">MICR Number*</label><br>
            <input type="text" pInputText class="md:w-full lg:w-25rem"/>
        </div>
    </div>
    <div class="grid px-3 mt-4">
        <div class="mr-4">
            <label for="username">Cheque Number*</label><br>
            <input pInputText class="md:w-full lg:w-12rem"/>
        </div>
        <div class="">
            <label for="username">Cheque Date*</label><br>
            <input type="date" pInputText class="md:w-full lg:w-11rem"/>
        </div>
    </div>
    <div class="my-4">
        <div class="mb-3">
            <label for="username">Amount*</label><br>
            <input type="text" pInputText class="md:w-full lg:w-25rem"/>
        </div>
    </div>
    <p-fileUpload class="mb-3" mode="basic" chooseLabel="Upload Cheque Document" styleClass="p-button-outlined" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"></p-fileUpload>
    -->
    <div class="grid p-3 justify-content-between" style="max-width: 35rem;">
        
        <p-button [label]="'MOTORQUOTE.Back' | translate" (click)="getBack()" class="mr-6" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
        <p-button [label]="'PAYMENT.ConvertToDraft' | translate" *ngIf="!mobilePaymentPending" (click)="convertDraft()" class="text-l pi-button"></p-button>
        <p-button [label]="'PAYMENT.MakePayment' | translate" *ngIf="!draftSection && !mobilePaymentPending" (click)="onCashPayment()" class="text-l pi-button"></p-button>
    </div>
</ng-container>
<ng-container *ngIf="draftSection">
    <h2>{{'PAYMENT.DraftSuccessMessage' | translate}} ...</h2>
    <hr class="m-0 p-0">
    <div class="grid" >
        <div class="lg:col-6 md:col-6 col-12">
            <div class="grid p-3 justify-content-center" >
                <label for="username" class="customLabel"><b>{{'QUOTEGRID.ReferenceNo' | translate}}</b></label><br>
            </div>
            <div class="grid p-3 justify-content-center" >
                <span class="customValue">{{requestReferenceNo}}</span>
            </div>
        </div>
        <div class="lg:col-6 md:col-6 col-12">
            <div class="grid p-3 justify-content-center" >
                <label for="username" class="customLabel"><b>{{'QUOTEGRID.QuoteNo' | translate}}</b></label><br>
            </div>
            <div class="grid p-3 justify-content-center" >
                <span class="customValue">{{quoteNo}}</span>
            </div>
        </div>
    </div>
    <hr class="m-0 p-0">
    <div class="grid p-3" >
        <div class="lg:col-12 md:col-12 col-12 m-0 p-0">
            <div class="grid p-3 justify-content-center" >
                    <label for="username" class="customLabel"><b>{{'PREMIUM.TotalPremium' | translate}}</b></label><br>
            </div>
            <div class="grid p-3 justify-content-center" >
                <span class="customValue2">{{totalPremium|commaseparator}}&nbsp;({{currencyCode}})</span>
            </div>
        </div>
    </div>
    <hr class="m-0 p-0">
    <div class="grid p-3 justify-content-center">
        <p-button [label]="'MOTORQUOTE.Back' | translate" [routerLink]="['/quotation/plan/main/document-info']" class="mr-6" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
        <p-button [label]="'PAYMENT.BrokerQuotation' | translate" (click)="onBrokerQuotation()" class="mr-6 text-l pi-button"></p-button>
        <p-button [label]="'QUOTEGRID.Proceed' | translate"  (click)="onProceed()"  class="mr-6" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
    </div>
</ng-container>
<ng-container *ngIf="endorsementSection && IsChargeOrRefund=='REFUND' && !policySection">
    <div class="grid">
        <div class="lg:col-7 md:col-7 col-12">
        <h2>{{'PAYMENT.Justonemorestep' | translate}}</h2>
        <h4>{{'PAYMENT.RefundPremiumDetails' | translate}}</h4>
        </div>
        <div class="lg:col-5 md:col-5 col-12">
            <div class="flex flex-wrap justify-content-start">
                <div *ngIf="quoteNo"><b>{{'QUOTEGRID.QuoteNo' | translate}} - <span class="primaryTextColor">{{quoteNo}}</span></b>&nbsp;|&nbsp;</div>
                <div *ngIf="requestReferenceNo">{{'QUOTEGRID.ReferenceNo' | translate}} - <span class="primaryTextColor">{{requestReferenceNo}}</span></div>
            </div>
        </div>
    </div>
    <div class="grid" >
        <div class="lg:col-5 md:col-5 col-12">
            <label for="username">{{'PAYMENT.BankName' | translate}} *</label><br>
            <p-dropdown inputId="make"   class="w-full"   styleClass="w-full" 
                [options]="bankList"  [(ngModel)]="bankName" optionLabel="CodeDesc"  optionValue="Code"  [placeholder]="'PAYMENT.SelectBank' | translate">
            </p-dropdown>
        </div>
    </div>
    <div class="grid" >
        <div class="lg:col-5 md:col-5 col-12">
            <label for="username">{{'PAYMENT.AccountNumber' | translate}}</label><br>
            <input type="text"  [(ngModel)]="accNo" (keypress)="alphaNumberOnly($event)"  maxlength="100" pInputText class="md:w-full lg:w-25rem"/>
        </div>
    </div>
    <div class="grid" >
        <div class="lg:col-5 md:col-5 col-12">
            <label for="username">{{'PAYMENT.IBANNumber' | translate}}</label><br>
            <input type="text"  [(ngModel)]="iBanNo" maxlength="20" (keypress)="alphaNumberOnly($event)" pInputText class="md:w-full lg:w-25rem"/>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-end">
        <div class="card grid text-white surface-900 px-4 py-2" (click)="showSidebar()">
            <div class="col-12">
                <p class="mb-0">{{'PAYMENT.TotalRefundPremium' | translate}}</p>
                <h6 class="text-white mt-0">{{totalPremium | commaseparator}}&nbsp;({{currencyCode}})</h6>
            </div>
        </div>
    </div>
    <div class="grid p-3 justify-content-center" style="max-width: 35rem;">
        <p-button [label]="'MOTORQUOTE.Back' | translate" (click)="getBack()" class="mr-6" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
        <p-button [label]="'PAYMENT.Submit' | translate" *ngIf="checkRefundMandatories()" (click)="onCashPayment()" class="text-l pi-button"></p-button>
    </div>

</ng-container>

<p-dialog [(visible)]="displayPayment" position="center" styleClass="lg:w-30rem">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-between gap-2 w-full">
            <h4 class="text-green-400">{{'PAYMENT.PolicyGeneratedSuccessfully' | translate}}</h4>
        </div>
    </ng-template>
    <div class="container p-3">
        <div class="grid">
            <b class="col-12 md:col-6 p-0 mb-0">Reference Number</b>
            <p class="col-12 md:col-6 md:text-right p-0 mb-0">test</p>
            <b class="col-12 md:col-6 p-0 mb-0">Quote Number</b>
            <p class="col-12 md:col-6 md:text-right p-0 mb-0">test</p>
            <b class="col-12 md:col-6 p-0 mb-0">Policy Number</b>
            <p class="col-12 md:col-6 md:text-right p-0 mb-0">test</p>
            <b class="col-12 md:col-6 p-0 mb-0">Credit Quote Number</b>
            <p class="col-12 md:col-6 md:text-right p-0 mb-0">test</p>
            <b class="col-12 md:col-6 p-0 mb-0">Debit Quote Number</b>
            <p class="col-12 md:col-6 md:text-right p-0 mb-0">test</p>
        </div>
        <div class="grid mt-5 justify-content-between">
            <div>
                <b>Need Help</b>
                <p class="mt-2"><span class="pi pi-exclamation-circle"></span> Policy Issues</p>
                <p><span class="pi pi-money-bill"></span> Payment Issues</p>
                <p><span class="pi pi-box"></span> Others</p>
            </div>
            <div>
                <b>Payment</b>
                <p>Visa 90***</p>
                <p-button label="Debit Note PDF" styleClass="p-button-outlined"></p-button>
            </div>
            <div>
                <p-button label="Schedule PDF"></p-button>
                <br>
                <p-button label="Credit Note PDF" styleClass="p-button-outlined mt-4"></p-button>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="visible = false" label="Proceed" pAutoFocus [autofocus]="true"></p-button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
