<div class="vision-grid-item">
    <div class="card">
        <div class="card-header">EMI</div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Policy Type<span class="text-required">*</span></label>
                        <ng-select class="input-form-select" appendTo="body" [items]="policylList" [(ngModel)]="emiDetails.PolicyType" bindValue="Code" bindLabel="CodeDesc">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Premium Start<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" [(ngModel)]="emiDetails.PremiumStart" (keydown)="onemiChange($event)" (keyup)="CommaFormatted()" maxlength="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Premium End<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" [(ngModel)]="emiDetails.PremiumEnd" (keydown)="onemiChange($event)" (keyup)="CommaFormattedEnd()" maxlength="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Effective Date<span class="text-danger">*</span></mat-label>
                            <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="emiDetails.EffectiveDateStart" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Instalment Period<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" [(ngModel)]="emiDetails.InstallmentPeriod"  maxlength="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Interest Percent<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" digitOnly class="input-form-control without-icon" min="0" [(ngModel)]="emiDetails.InterestPercent" (change)="checkvalue($event)" maxlength="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Advance Percent<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" digitOnly class="input-form-control without-icon" [(ngModel)]="emiDetails.AdvancePercent"  maxlength="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Status<span class="text-required">*</span></label>
                        <div class="input-form-radio-box">
                            <div class="radio-toolbar">
                                <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="emiDetails.Status" value="Y">
                                <label for="orginwarehouse_Yes">Active</label>
                                <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="emiDetails.Status" value="N">
                                <label for="orginwarehouse_No">DeActive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-control-container">
                        <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <textarea cols="120" rows="2" class="input-form-control without-icon" [(ngModel)]="emiDetails.Remarks" maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="ongetBack()">Cancel</button>
            <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
        </div>
    </div>
</div>
