<div class="card">
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4">
      <h3 class="mr-3">{{'PolicyGrid.Portfolio' | translate}}</h3>
      <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
    </div>
    <div class="col-12 sm:col-6 md:col-8">
      <!-- <div class="flex justify-content-start sm:justify-content-end  flex-wrap"> -->
        <!-- <span class="p-input-icon-right mr-3 mb-3">
          <i class="pi pi-search"></i>
          <p-dropdown [options]="branches" [(ngModel)]="selectedBranch" optionLabel="label" placeholder="Select a Branch"></p-dropdown>
        </span> -->
        <!-- <p-selectButton [options]="quoteOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
      </div> -->
    </div>
  </div>
  
  <p-divider></p-divider>
  
  <p-tabView>
    <p-tabPanel [header]="'PolicyGrid.Active' | translate">
      <div class="flex justify-content-end mb-4">
        <p-button icon="pi pi-table" class="mr-3" [styleClass]="tableView =='list' ? '':'p-button-outlined'" (click)="tableView='list'" severity="success "></p-button>
        <p-button icon="pi pi-list" [styleClass]="tableView =='table'? '':'p-button-outlined'" (click)="tableView='table'"  severity="success "></p-button>
      </div>
      <div class="grid mb-2 mt-2">
        <div class="col-12 md:col-4 lg:col-4" *ngIf="!show">
          <label for="username">{{'PolicyGrid.Broker' | translate}}</label><span class="text-danger">*</span>
          <p-dropdown inputId="make" class="w-full" styleClass="w-full" [(ngModel)]="brokerCode"  [options]="brokerList" (onChange)="getExistingQuotes(null,'change')"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
          </p-dropdown>
        </div>
        <div class="col-12 md:col-4 lg:col-4 mt-5"></div>
        <div class="col-12 md:col-4 lg:col-4 mt-5" *ngIf="userType == 'Issuer'">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search for Other Policies" [(ngModel)]="searchValue" />
            </span>
            &nbsp;<p-button *ngIf="searchValue.length > 2 ? '...' : '' || dob" (click)="eventothers(searchValue,'change')" label="Search" size="small"></p-button>
            &nbsp;<p-button *ngIf="searchSection" (click)="clearSearch()" label="Clear Search" class="p-button-outlined" size="small"></p-button>
        </div>
          <!-- <p-checkbox (onChange)="onSelectCustomer($event.checked)" [binary]="true" inputId="binary"></p-checkbox>
          <label>&nbsp;<b>Search for Other Policies</b></label> -->
          <!--[ngClass]="show ? 'col-md-3 col-lg-3 col-xl-3 offset-9' : 'col-md-3 col-lg-3 col-xl-3 offset-5'"-->
          <!--[ngClass]="show ? 'col-md-2 col-lg-2 col-xl-2 offset-6' : 'col-md-2 col-lg-2 col-xl-2 offset-6'"-->
          
      </div>
      <ng-container *ngIf="quoteData.length!=0 && !show">
        <p-table #dtEmployeeActive *ngIf="tableView == 'table' else cardTableView" [value]="quoteData" dataKey="PolicyNo" rowExpandMode="single" 
          [globalFilterFields]="['PolicyNo','QuoteNo','ClientName','PolicyStartDate','PolicyEndDate','OverallPremiumLc']" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
          <ng-template pTemplate="caption">
            <div class="flex flex wrap justify-content-end">
              <div class="table-header">
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dtEmployeeActive.filterGlobal($event.target.value, 'contains')"  [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                  </span>
              </div>
            </div>
            
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="column" *ngFor="let column of columns">{{'PolicyGrid.'+column | translate}} <p-sortIcon [field]="column"></p-sortIcon></th>
                  
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer let-expanded="expanded">
            <tr>
              <td *ngIf="productId=='5' || productId=='46' || productId=='29'">
                  <a href="#" [pRowToggler]="customer">
                  <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'" (click)="onInnerData(customer)"></i>
                </a>
              </td>
              <td>{{ customer.PolicyNo }}</td>
              <td>{{ customer.QuoteNo }}</td>
              <td><ng-container *ngIf="customer.Title">{{customer.Title}}&nbsp;</ng-container> {{ customer.ClientName }} <ng-container *ngIf="customer.MiddleName">&nbsp;{{customer.MiddleName}}</ng-container><ng-container *ngIf="customer.LastName">&nbsp;{{customer.LastName}}</ng-container> </td>
              <td>{{ customer.Currency }}</td>
              <td>{{ customer.PolicyStartDate }}</td>
              <td>{{ customer.PolicyEndDate }}</td>
              <td>{{ customer.OverallPremiumLc }}</td>
              <td>
                <span class="p-buttonset">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <i class="fas fa-cog"></i>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onGetOtherDocument(customer)" *ngIf="insuranceId=='100028'">
                      <span>Print Documents</span>
                  </button>
                    <button mat-menu-item (click)="onGetDraft(customer)" *ngIf="(insuranceId=='100046' || this.insuranceId=='100048') && productId=='5'">
                        <span>Certificate</span>
                    </button>
                      <button mat-menu-item (click)="onGetSchedule(customer)" *ngIf="insuranceId!='100028'">
                          <span>{{'PolicyGrid.Schedule' | translate}}</span>
                      </button>
                      <button mat-menu-item *ngIf="customer.DebitNoteNo!='' && customer.DebitNoteNo!=null && insuranceId!='100028'" (click)="onDebitdownload(customer)">
                          <span>{{'PolicyGrid.DebitNote' | translate}}</span>
                      </button>
                      <button mat-menu-item *ngIf="customer.CreditNo!='' && customer.CreditNo!=null && insuranceId!='100028'" (click)="onCreditdownload(customer)">
                          <span>{{'PolicyGrid.CreditNote' | translate}}</span>
                      </button>
                      <!-- <button mat-menu-item (click)="onClaimIntimate(customer)">
                        <span>{{'PolicyGrid.ClaimIntimate' | translate}}</span>
                    </button> -->
                      <button mat-menu-item (click)="onEditEndorsement(customer)">
                          <span>{{'PolicyGrid.Endorsement' | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="onViews(customer)">
                        <span>{{'PolicyGrid.ViewQuoteDetails' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="onPay(customer)">
                      <span>{{'PolicyGrid.PayEmi' | translate}}</span>
                  </button>
                  </mat-menu>
                </span>
              </td>
            
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion"  >
            <tr>
              <td colspan="10">
                  <div class="p-p-3">
                    <p-table [value]="MotorList"  dataKey="name">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'PolicyGrid.VehicleID' | translate}}</th>
                                <th>{{'PolicyGrid.RegistrationNo' | translate}}</th>
                                <th>{{'PolicyGrid.ChassisNo' | translate}}</th>
                                <th>{{'PolicyGrid.Make' | translate}}</th>
                                <th>{{'PolicyGrid.Model' | translate}}</th>
                                <th>{{'PolicyGrid.PolicyType' | translate}}</th>
                                <th>{{'PolicyGrid.Premium' | translate}}</th>
                                <th>{{'PolicyGrid.Action' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product >
                            <tr>
                              <td>{{product.Vehicleid}}</td>
                                <td>{{ product.Registrationnumber }}</td>
                                <td>{{ product.Chassisnumber }}</td>
                                <td>{{ product.Vehiclemake }}</td>
                                <td>{{ product.Vehcilemodel }}</td>
                                <td>{{ product.PolicyTypeDesc }}</td>
                                <td>{{ product.OverallPremiumFc }}</td>
                                <td><button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="onGetVehicleSchedule(product,customer)" class="p-button-outlined"></button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                  </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <ng-template #cardTableView>
          <div class="grid ml-3">
            <div class="card col-12 lg:col-4 md:col-4" *ngFor="let quote of quoteData">
              <div class="col-12 lg:col-12 md:col-12">
                <h5><ng-container *ngIf="quote.Title">{{quote.Title}}&nbsp;</ng-container> {{ quote.ClientName }} <ng-container *ngIf="quote.MiddleName">&nbsp;{{quote.MiddleName}}</ng-container><ng-container *ngIf="quote.LastName">&nbsp;{{quote.LastName}}</ng-container> </h5>
              </div>
              <div class="col-12 lg:col-12 md:col-12">
                   <ng-container *ngIf="quote.PolicyNo">
                      <b>PolicyNo No</b>
                      <p>{{quote.PolicyNo}}</p>
                    </ng-container>
              </div>
              <div class="grid">
              <div class="col-12 lg:col-4 md:col-4">
                  <b>Reference No</b>
                  <p> {{ quote.RequestReferenceNo }}</p>
              </div>
              <div class="col-12 lg:col-4 md:col-4">
                <ng-container *ngIf="quote.QuoteNo">
                  <b>Quote No</b>
                  <p>{{quote.QuoteNo}}</p>
                </ng-container>
            </div>
            <div class="col-12 lg:col-4 md:col-4">
              <b>Start Date</b>
                  <p>{{quote.PolicyStartDate}}</p>
          </div>
          <div class="col-12 lg:col-4 md:col-4">
            <b>End Date</b>
                  <p>{{quote.PolicyEndDate}}</p>
        </div>
        <div class="col-12 lg:col-4 md:col-4">
          <b>Premium Amount</b>
          {{quote.OverallPremiumLc}}&nbsp;({{quote.currencyCode}})
          </div></div>
          <div class="grid justify-content-end">
          <div class="col-12 lg:col-6 md:col-6 ">
          <span class="p-buttonset">
                   
            <button pButton pRipple icon="pi pi-file-pdf" (click)="onGetSchedule(quote)" title="Schedule" class="p-button-outlined"></button>
      <button pButton pRipple icon="pi pi-file-pdf" (click)="onDebitdownload(quote)" title="Debit Note" class="p-button-outlined"></button>
      <button pButton pRipple icon="pi pi-file-pdf" title="Credit Note" (click)="onCreditdownload(quote)" class="p-button-outlined"></button>
      <!-- <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(quote)" title="Claim Intimate" class="p-button-outlined"></button> -->
      <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(quote)" title="Endorsement" class="p-button-outlined"></button>
      <button pButton pRipple icon="pi pi-eye" title="View Quote Details" (click)="onViews(quote)" class="p-button-outlined"></button>
      <button pButton pRipple icon="pi pi-eye" title="Pay EMI" (click)="OnPay(quote)" class="p-button-outlined"></button>

    </span></div></div>
              <!-- <table>
                <tr>
                  <td></td>
                </tr>
                <tr >
                  <td>
                    <ng-container *ngIf="quote.PolicyNo">
                      <b>PolicyNo No</b>
                      <p>{{quote.PolicyNo}}</p>
                    </ng-container>
                  </td>
                </tr>
                <tr class="justify-content-between">
                  
                    <td><b>Reference No</b>
                      <p> {{ quote.RequestReferenceNo }}</p>
                    </td>
                    <td>
                      <ng-container *ngIf="quote.QuoteNo">
                        <b>Quote No</b>
                        <p>{{quote.QuoteNo}}</p>
                      </ng-container>
                    </td>
                </tr>
                <tr class="justify-content-between">
                  <td><b>Start Date</b>
                  <p>{{quote.PolicyStartDate}}</p>
                  </td>
                  <td class=""><b>End Date</b>
                  <p>{{quote.PolicyEndDate}}</p></td>
                </tr>               
                <tr>
                  <td>{{quote.OverallPremiumLc}}&nbsp;({{quote.currencyCode}})</td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <span class="p-buttonset">
                   
                      <button pButton pRipple icon="pi pi-file-pdf" (click)="onGetSchedule(customer)" title="Schedule" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-file-pdf" (click)="onDebitdownload(customer)" title="Debit Note" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-file-pdf" title="Credit Note" (click)="onCreditdownload(customer)" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(customer)" title="Endorsement" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-eye" title="View Quote Details" (click)="onViews(customer)" class="p-button-outlined"></button>
              </span>
                  
                  </td>
                </tr>
              </table> -->
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="quoteData.length==0 && !show">
        <div class="flex flex-wrap justify-content-center mt-2">
              No Quote Available
        </div>
    </ng-container>
    <ng-container *ngIf="show">
      <div class="flex flex wrap justify-content-start mt-3">
        <div class="table-header md:col-6 lg:col-6">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" [(ngModel)]="searchValue" />
          </span>
      </div>
      </div>
      <div class="col-12 md:col-2 lg:col-2" *ngIf="searchValue.length > 2 ? '...' : '' || dob">
          <p-button (click)="eventothers(searchValue,'change')" label="Search" size="small"></p-button>
      </div>
    </ng-container>
    </p-tabPanel>
    <p-tabPanel [header]="'PolicyGrid.Pending' | translate">
      <div class="flex justify-content-end mb-4">
        <p-button icon="pi pi-table" class="mr-3" [styleClass]="tableView =='list' ? '':'p-button-outlined'" (click)="tableView='list'" severity="success "></p-button>
        <p-button icon="pi pi-list" [styleClass]="tableView =='table'? '':'p-button-outlined'" (click)="tableView='table'"  severity="success "></p-button>
      </div>
      <div class="grid mb-2 mt-2" *ngIf="!show">
        <div class="col-12 md:col-4 lg:col-4">
          <label for="username">{{'PolicyGrid.Broker' | translate}}</label><span class="text-danger">*</span>
          <p-dropdown inputId="make" class="w-full" styleClass="w-full" [(ngModel)]="pendingBrokerCode"  [options]="pendingBrokerList" (onChange)="getPendingPolicyList(null,'change')"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
          </p-dropdown>
        </div>
      </div>
      <ng-container *ngIf="pendingQuoteData.length!=0">
        <p-table #dtEmployeePending *ngIf="tableView == 'table' else cardTableView" [value]="pendingQuoteData"  rowExpandMode="single" 
          [globalFilterFields]="['PolicyNo','QuoteNo','ClientName','PolicyStartDate','PolicyEndDate','OverallPremiumLc']" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
          <ng-template pTemplate="caption">
            <div class="flex flex wrap justify-content-end">
              <div class="table-header">
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dtEmployeePending.filterGlobal($event.target.value, 'contains')"  [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                  </span>
              </div>
            </div>
            
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="column" *ngFor="let column of columns">{{'PolicyGrid.'+column | translate}} <p-sortIcon [field]="column"></p-sortIcon></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td *ngIf="productId=='5' || productId=='46' || productId=='29'">
                <a href="#" [pRowToggler]="customer">
                <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'" (click)="onInnerData(customer)"></i>
              </a>
            </td>
              <td>{{ customer.PolicyNo }}</td>
              <td>{{ customer.QuoteNo }}</td>
              <td><ng-container *ngIf="customer.Title">{{customer.Title}}&nbsp;</ng-container> {{ customer.ClientName }} <ng-container *ngIf="customer.MiddleName">&nbsp;{{customer.MiddleName}}</ng-container><ng-container *ngIf="customer.LastName">&nbsp;{{customer.LastName}}</ng-container> </td>
              <td>{{ customer.Currency }}</td>
              <td>{{ customer.PolicyStartDate }}</td>
              <td>{{ customer.PolicyEndDate }}</td>
              <td>{{ customer.OverallPremiumLc }}</td>
              <td>
                <span class="p-buttonset">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <i class="fas fa-cog"></i>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onGetSchedule(customer)">
                          <span>Schedule</span>
                      </button>
                      <button mat-menu-item (click)="onDebitdownload(customer)">
                          <span>Debit Note</span>
                      </button>
                      <button mat-menu-item (click)="onCreditdownload(customer)">
                          <span>Credit Note</span>
                      </button>
                      <button mat-menu-item (click)="onEditEndorsement(customer)">
                          <span>Endorsement</span>
                      </button>
                      <button mat-menu-item (click)="onViews(customer)">
                          <span>View Quote Details</span>
                      </button>
                      <button mat-menu-item (click)="onPay(customer)">
                        <span>Pay EMI</span>
                    </button>
                  </mat-menu>
                  <!-- <button pButton pRipple icon="pi pi-envelope" class="p-button-outlined"></button>
                  <button pButton pRipple icon="pi pi-inbox" class="p-button-outlined"></button> -->
                  <!-- <button type="button" pButton pRipple icon="pi pi-th-large" (click)="menu1.toggle($event)"></button>
                  <p-menu #menu1 [popup]="true" appendTo="body" [model]="getPolicyItems(customer)"></p-menu> -->
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion"  >
            <tr>
              <td colspan="10">
                  <div class="p-p-3">
                    <p-table [value]="MotorList" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'PolicyGrid.VehicleID' | translate}}</th>
                                <th>{{'PolicyGrid.RegistrationNo' | translate}}</th>
                                <th>{{'PolicyGrid.ChassisNo' | translate}}</th>
                                <th>{{'PolicyGrid.Make' | translate}}</th>
                                <th>{{'PolicyGrid.Model' | translate}}</th>
                                <th>{{'PolicyGrid.PolicyType' | translate}}</th>
                                <th>{{'PolicyGrid.Premium' | translate}}</th>
                                <th>{{'PolicyGrid.Action' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product >
                            <tr>
                              <td>{{product.Vehicleid}}</td>
                                <td>{{ product.Registrationnumber }}</td>
                                <td>{{ product.Chassisnumber }}</td>
                                <td>{{ product.Vehiclemake }}</td>
                                <td>{{ product.Vehcilemodel }}</td>
                                <td>{{ product.PolicyTypeDesc }}</td>
                                <td>{{ product.OverallPremiumFc }}</td>
                                <td><button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="onGetVehicleSchedule(product,customer)" class="p-button-outlined"></button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                  </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <ng-template #cardTableView>
          <div class="grid ml-3">
            <div class="card col-12 lg:col-4 md:col-4" *ngFor="let quote of pendingQuoteData">
              <div class="col-12 lg:col-12 md:col-12">
                <h5><ng-container *ngIf="quote.Title">{{quote.Title}}&nbsp;</ng-container> {{ quote.ClientName }} <ng-container *ngIf="quote.MiddleName">&nbsp;{{quote.MiddleName}}</ng-container><ng-container *ngIf="quote.LastName">&nbsp;{{quote.LastName}}</ng-container> </h5>
              </div>
              <div class="col-12 lg:col-12 md:col-12">
                   <ng-container *ngIf="quote.PolicyNo">
                      <b>PolicyNo No</b>
                      <p>{{quote.PolicyNo}}</p>
                    </ng-container>
              </div>
              <div class="grid">
              <div class="col-12 lg:col-4 md:col-4">
                  <b>Reference No</b>
                  <p> {{ quote.RequestReferenceNo }}</p>
              </div>
              <div class="col-12 lg:col-4 md:col-4">
                <ng-container *ngIf="quote.QuoteNo">
                  <b>Quote No</b>
                  <p>{{quote.QuoteNo}}</p>
                </ng-container>
            </div>
            <div class="col-12 lg:col-4 md:col-4">
              <b>Start Date</b>
                  <p>{{quote.PolicyStartDate}}</p>
          </div>
          <div class="col-12 lg:col-4 md:col-4">
            <b>End Date</b>
                  <p>{{quote.PolicyEndDate}}</p>
        </div>
        <div class="col-12 lg:col-4 md:col-4">
          <b>Premium Amount</b>
          {{quote.OverallPremiumLc}}&nbsp;({{quote.currencyCode}})
          </div></div>
          <div class="grid justify-content-end">
          <div class="col-12 lg:col-6 md:col-6 ">
          <span class="p-buttonset">
                   
            <button pButton pRipple icon="pi pi-file-pdf" (click)="onGetSchedule(quote)" title="Schedule" class="p-button-outlined"></button>
            <button pButton pRipple icon="pi pi-file-pdf" (click)="onDebitdownload(quote)" title="Debit Note" class="p-button-outlined"></button>
            <button pButton pRipple icon="pi pi-file-pdf" title="Credit Note" (click)="onCreditdownload(quote)" class="p-button-outlined"></button>
            <!-- <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(quote)" title="Claim Intimate" class="p-button-outlined"></button> -->
            <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(quote)" title="Endorsement" class="p-button-outlined"></button>
            <button pButton pRipple icon="pi pi-eye" title="View Quote Details" (click)="onViews(quote)" class="p-button-outlined"></button>
            <button pButton pRipple icon="pi pi-eye" title="Pay EMI" (click)="OnPay(quote)" class="p-button-outlined"></button>
          </span></div></div>
              <!-- <table>
                <tr>
                  <td></td>
                </tr>
                <tr >
                  <td>
                    <ng-container *ngIf="quote.PolicyNo">
                      <b>PolicyNo No</b>
                      <p>{{quote.PolicyNo}}</p>
                    </ng-container>
                  </td>
                </tr>
                <tr class="justify-content-between">
                  
                    <td><b>Reference No</b>
                      <p> {{ quote.RequestReferenceNo }}</p>
                    </td>
                    <td>
                      <ng-container *ngIf="quote.QuoteNo">
                        <b>Quote No</b>
                        <p>{{quote.QuoteNo}}</p>
                      </ng-container>
                    </td>
                </tr>
                <tr class="justify-content-between">
                  <td><b>Start Date</b>
                  <p>{{quote.PolicyStartDate}}</p>
                  </td>
                  <td class=""><b>End Date</b>
                  <p>{{quote.PolicyEndDate}}</p></td>
                </tr>               
                <tr>
                  <td>{{quote.OverallPremiumLc}}&nbsp;({{quote.currencyCode}})</td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <span class="p-buttonset">
                   
                      <button pButton pRipple icon="pi pi-file-pdf" (click)="onGetSchedule(customer)" title="Schedule" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-file-pdf" (click)="onDebitdownload(customer)" title="Debit Note" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-file-pdf" title="Credit Note" (click)="onCreditdownload(customer)" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-external-link" (click)="onEditEndorsement(customer)" title="Endorsement" class="p-button-outlined"></button>
                <button pButton pRipple icon="pi pi-eye" title="View Quote Details" (click)="onViews(customer)" class="p-button-outlined"></button>
              </span>
                  
                  </td>
                </tr>
              </table> -->
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="quoteData.length==0 && !show">
        <div class="flex flex-wrap justify-content-center mt-2">
              No Quote Available
        </div>
    </ng-container>
    <ng-container *ngIf="show">
      <div class="flex flex wrap justify-content-start mt-3">
        <div class="table-header md:col-6 lg:col-6">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" [(ngModel)]="searchValue" />
          </span>
      </div>
      </div>
      <div class="col-12 md:col-2 lg:col-2" *ngIf="searchValue.length > 2 ? '...' : '' || dob">
        <p-button (click)="onCustomerSearch()" label="Search" size="small"></p-button>
    </div>
    </ng-container>
    </p-tabPanel>
    <p-tabPanel [header]="'PolicyGrid.Cancelled' | translate">
      <div class="grid mb-2 mt-2">
        <div class="col-12 md:col-4 lg:col-4">
          <label for="username">{{'PolicyGrid.Broker' | translate}}</label><span class="text-danger">*</span>
          <p-dropdown inputId="make" class="w-full" styleClass="w-full" [(ngModel)]="CancelbrokerCode"  [options]="cancelbrokerList" (onChange)="getExistingQuotes(null,'change')"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
          </p-dropdown>
        </div>
      </div>

      <div class="flex justify-content-end mb-4">
        <p-button icon="pi pi-list" class="mr-3" [styleClass]="tableView =='list' ? '':'p-button-outlined'" (click)="tableView='list'" severity="success "></p-button>
        <p-button icon="pi pi-table" [styleClass]="tableView =='table'? '':'p-button-outlined'" (click)="tableView='table'"  severity="success "></p-button>
      </div>
      <p-table #dtEmployeeCancelled *ngIf="tableView == 'table' else cardTableView" [value]="CancelledquoteData" 
      [tableStyle]="{'min-width':'50rem'}" [paginator]="true"  rowExpandMode="single" 
      [globalFilterFields]="['PolicyNo','QuoteNo','ClientName','PolicyStartDate','PolicyEndDate','OverallPremiumLc']" [rows]="5">
        <ng-template pTemplate="caption">
          <div class="flex flex wrap justify-content-end">
            <div class="table-header">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dtEmployeeCancelled.filterGlobal($event.target.value, 'contains')"  [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="column" *ngFor="let column of columns">{{'PolicyGrid.'+column | translate}} <p-sortIcon [field]="column"></p-sortIcon></th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td *ngIf="productId=='5' || productId=='46' || productId=='29'">
                <a href="#" [pRowToggler]="customer">
                <i [ngClass]="expanded ? 'pi pi-minus' : 'pi pi-plus'" (click)="onInnerData(customer)"></i>
              </a>
            </td>
              <td>{{ customer.OriginalPolicyNo }}</td>
              <td>{{ customer.QuoteNo }}</td>
              <td><ng-container *ngIf="customer.Title">{{customer.Title}}&nbsp;</ng-container> {{ customer.ClientName }} <ng-container *ngIf="customer.MiddleName">&nbsp;{{customer.MiddleName}}</ng-container><ng-container *ngIf="customer.LastName">&nbsp;{{customer.LastName}}</ng-container> </td>
              <td>{{ customer.Currency }}</td>
              <td>{{ customer.PolicyStartDate }}</td>
              <td>{{ customer.PolicyEndDate }}</td>
              <td>{{ customer.OverallPremiumLc }}</td>
              <td>
                <span class="p-buttonset">
                  <button type="button" pButton pRipple icon="pi pi-th-large" (click)="menu3.toggle($event)"></button>
                  <p-menu #menu3 [popup]="true" appendTo="body" [model]="getPolicyItems(customer)"></p-menu>
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion"  >
            <tr>
              <td colspan="10">
                  <div class="p-p-3">
                    <p-table [value]="MotorList" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'PolicyGrid.VehicleID' | translate}}</th>
                                <th>{{'PolicyGrid.RegistrationNo' | translate}}</th>
                                <th>{{'PolicyGrid.ChassisNo' | translate}}</th>
                                <th>{{'PolicyGrid.Make' | translate}}</th>
                                <th>{{'PolicyGrid.Model' | translate}}</th>
                                <th>{{'PolicyGrid.PolicyType' | translate}}</th>
                                <th>{{'PolicyGrid.Premium' | translate}}</th>
                                <th>{{'PolicyGrid.Action' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product >
                            <tr>
                              <td>{{product.Vehicleid}}</td>
                                <td>{{ product.Registrationnumber }}</td>
                                <td>{{ product.Chassisnumber }}</td>
                                <td>{{ product.Vehiclemake }}</td>
                                <td>{{ product.Vehcilemodel }}</td>
                                <td>{{ product.PolicyTypeDesc }}</td>
                                <td>{{ product.OverallPremiumFc }}</td>
                                <td><button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="onGetVehicleSchedule(product,customer)" class="p-button-outlined"></button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                  </div>
              </td>
            </tr>
          </ng-template>
      </p-table>
      <ng-template #cardTableView>

      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>  
<p-dialog header="Document Details" [(visible)]="otherDocumentDialog" [modal]="true" styleClass="w-10 md:w-8 lg:w-6"
    [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <label>Policy No : </label>&nbsp;<b>{{rowData?.PolicyNo}}</b>
        </div>
        
    </div>
    <div class="grid">
      <div class="col-12 lg:col-4 md:col-4 xl:col-4">
        <label>Quote No : </label>&nbsp;<b>{{rowData?.QuoteNo}}</b>
      </div>
      <div class="col-12 lg:col-6 md:col-6 xl:col-6">
        <label>RequestReference No : </label>&nbsp;<b>{{rowData?.RequestReferenceNo}}</b>
      </div>
    </div>
    <div class="grid" *ngIf="documentList.length!=0">
      <div class="col-12 lg:col-12 md:col-12 xl:col-12">
        <p-table [value]="documentList" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
              <tr>
                  <th *ngFor="let column of documentHeader">{{column}}</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-document>
              <tr>
                <td>{{document?.FileName}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-cloud-download" (click)="onDownloadDynamicDoc(document)" title="Download" class="p-button-outlined"></button>
                </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="documentList.length==0">
      <div class="flex flex-wrap mt-5 justify-content-center">
        No Document Available
      </div>
    </div>
    <div class="flex flex-wrap mt-5 justify-content-center">
      <p-button (click)="otherDocumentDialog=!otherDocumentDialog" [label]="'QUOTEGRID.Close' | translate" styleClass="p-button-outlined" class="mr-3"></p-button>&nbsp;
    </div>
</p-dialog>