.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.vision-grid-column-2 {
    grid-template-columns: 15% 85%;
}

.menu-bar label {
    display: block;
    color: #897d7d;
}

.menu-bar label:hover {
    display: block;
    background-color: dodgerblue;
    color: #fff;
}

.menu-bar input[type="radio"]:checked+label {
    background-color: #530d58;
    background-color: transparent;
    color: #897d7d;
    border-left: 3px solid dodgerblue;
}

.menu-bar label:first-child {
    border: 0;
    // border-top: 0;
}
.customData {
    color: black;
}

.customRow {
    overflow-x: scroll !important;
}

.table {
    margin-bottom: 0rem !important;
    // width:120% !important;
    // table-layout: fixed !important;
    // overflow-x:scroll !important;
}

.table th,
.table td {
    //padding: 0.3rem !important;
    // padding: 20px !important;
}

.tbl-header {
    background-color: #0750a3;
    border: 1px solid rgb(161, 139, 82);
    font-weight: 300;
    color: white;
    text-align: center;
}

.tbl-content {
    background-color: white;
    border: 2px black !important;
    font-size: 12px;
    color: #333;
}

.menu-bar label {
    display: block;
    color: #897d7d;
}

.menu-bar label:hover {
    display: block;
    background-color: dodgerblue;
    color: #fff;
}

.menu-bar input[type="radio"]:checked+label {
    background-color: #530d58;
    background-color: transparent;
    color: #897d7d;
    border-left: 3px solid dodgerblue;
}

.menu-bar label:first-child {
    border: 0;
    // border-top: 0;
}

.customRadioLabel {
    margin-left: 0px;
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
}
input{
    border: 2px solid #eaecf1;
    border-radius: 0.7rem;
    margin: 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: all .3s;
    height: 36px;
    background: rgb(255,255,255);
    box-shadow: 0 0.4px #0000005e;
    backdrop-filter: blur(18.5px);
}
.card{
    display: block;
    color: #897d7d;
    border: 2px solid #eaecf1;
    border-radius: 0.7rem;
    margin: 8px 0px;
    outline: none;
    box-sizing: border-box;
    transition: all .3s;
    background: rgb(255,255,255);
    box-shadow: 1px 1px 1px #1f26875e;
    backdrop-filter: blur(18.5px);
}
.table-responsive {
    overflow-x: auto;
    position: relative;
    left: 0.8rem;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
    border: 6px solid transparent!important;

}
